<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:form="http://www.springframework.org/tags/form">
<head>
<title>Termsss and condittionss</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<link href="/css/styleweb.css" rel="stylesheet" type="text/css" />
<script src="/js/jquery-1.11.1.min.js"></script>
<link rel="stylesheet"
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<link href="/css/bootstrap-extra.css" media="all" rel="stylesheet"
	type="text/css" />
<script src="/js/filter.js" type="text/javascript"></script>
<link
	href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
	type="text/css" rel="stylesheet">
	
	<style type="text/css">
		.eloterm > p {
			text-indent: 20px;
		}
		
		.eloterm > p > span {
			text-indent: 20px;
			display: table-row;
		}
	</style>

</head>
<body>

	<div th:replace="elovendo/header"></div>

	<div class="container eloterm">
		<h2>CONDICIONES DE USO Y POLÍTICA DE PRIVACIDAD DE ELOVENDO</h2>

		(Última modificación: 4 de Diciembre de 2014)

		<h4>1. INTRODUCCIÓN</h4>
		<p>
		Bienvenido a la web de Elovendo, www.elovendo.com, (en adelante, el
		“Portal”). Los productos y los servicios de Elovendo (en adelante, los
		“Servicios”) se proporcionan a través de $FILL (en adelante,
		«Elovendo»), con la dirección Elovendo, $FILL y con Número de
		Identificación Fiscal $FILL e inscrita en el Registro Mercantil de
		$FILL. El uso de nuestro Portal implica la aceptación y adhesión a
		todas nuestras Condiciones de Uso y a nuestra Política de Privacidad.
		Te recomendamos que las leas detenidamente.
		</p>

		<p>Nuestros Servicios son muy diversos, por lo que en ocasiones se
			pueden aplicar condiciones o requisitos de productos adicionales
			(incluidas restricciones de edad). Las condiciones adicionales
			estarán disponibles junto con los Servicios pertinentes y formarán
			parte del acuerdo que estableces con Elovendo al usar nuestros
			servicios.</p>

		<h4>2. DEFINICIÓN DEL SERVICIO DE ELOVENDO</h4>
		<p>
		El Servicio de Elovendo consiste en la inserción, por parte del
		anunciante, de anuncios en el Portal. Elovendo se reserva el derecho a
		difundir en terceros portales, total o parcialmente, los Anuncios del
		anunciante, así como en otros sitios web, tales como redes sociales o
		blogs, aceptando el Anunciante dicha condición. Para insertar anuncios
		en el Portal el anunciante ha de completar un formulario con los datos
		del anuncio. Una vez insertado su anuncio, el anunciante recibirá una
		notificación de confirmación de la publicación de su anuncio. A partir
		de ese momento los datos aportados por el anunciante quedarán
		registrados, y serán tratados de conformidad con nuestra Política de
		Privacidad. El usuario podrá modificar en cualquier momento los datos
		de sus anuncio publicados a través de la sección “Mis anuncios” para
		editar, renovar o eliminar sus anuncios. El anuncio permanecerá
		publicado en el Portal por el periodo de 30 días naturales, si no se
		ha eliminado antes de la finalización del periodo por parte del
		anunciante o por parte de Elovendo. Para publicar nuevamente el
		anuncio eliminado, o cualquier otro, el anunciante deberá publicar un
		nuevo anuncio.
		</p>

		<h4>3. USO DEL PORTAL Y SUS SERVICIOS</h4>
		<p>
		El usuario se compromete a utilizar el Portal, sus contenidos y
		servicios conforme con cumplir con las siguientes normas y condiciones:
		<span>1. La Ley o cualesquiera otras normas del
		ordenamiento jurídico aplicable</span> 
		<span>2. Las presentes Condiciones de Uso</span> 
		<span>3. Las Normas de Publicación</span> 
		<span>4. Las buenas costumbres</span> 
		<span>5. El orden público</span>
		Asimismo, el usuario se compromete expresamente a no destruir,
		alterar, inutilizar o, de cualquier otra forma, dañar los datos,
		programas o documentos electrónicos y demás que se encuentren en el
		Portal de www.elovendo.com. El usuario se compromete a no obstaculizar
		el acceso de otros usuarios al servicio de acceso mediante el consumo
		masivo de los recursos informáticos a través de los cuales Elovendo
		presta el servicio, así como realizar acciones que dañen, interrumpan
		o generen errores en dichos sistemas. El usuario se compromete a no
		transmitir, introducir, difundir y poner a disposición de terceros
		cualquier tipo de material e información (programas, virus, macros,
		applets, controles ActiveX, datos, contenidos, dibujos, archivos de
		sonido e imagen, etc.) que sean contrarios a la ley, el orden público
		o que causen o sean susceptibles de causar cualquier tipo de
		alteración en los sistemas informáticos de Elovendo o de terceros. El
		usuario se compromete a permitir el acceso a través de su navegador a
		su posición geográfica. En caso contrario, y con objetivo de
		publicación de un anuncio, el usuario deberá proporcionar, mediante el
		campo de “Localización”, un lugar o dirección aproximado de
		localización de su anuncio. Por su parte, el Portal se compromete a no
		almacenar ningún dato exacto sobre la localización del usuario, y
		proporcionar la información proporcionada por el usuario al resto de
		usuarios con un margen de error suficiente. El usuario deberá
		anunciarse en la categoría adecuada en la que se encuentre el producto
		y comprometerse a:
			<br/><br/>
			<span>1. No incitar a actuar de forma ilegal</span>
			<br/>
			<span>
				2. No difundir difamaciones, calumnias, injurias y/o
				contenidos o propaganda de carácter racista, xenófobo,
				violento, de apología del terrorismo o que atenten contra los
				derechos humanos
			</span>
			<br/>
			<span>
				3. No difundir contenido explícito de carácter sexual
			</span>
			<br/>
			<span>
				4. No manifestar falsedades o inducir a error
			</span>
			<br/>
			<span>
				5. No suplantar a otros usuarios utilizando sus claves
				de acceso a los distintos servicios y/o contenidos del
				Portal
			</span>
			<br/>
			<span>
				6. No utilizar correos electrónicos ficticios para
				publicar anuncios
			</span>
			<br/>
			<span>7. No abusar del sistema de "denunciar" a un anuncio para
				eliminar anuncios sin causa justificada</span>
			<br/>
			<span>8. No difundir comunicaciones no solicitadas o autorizadas</span>
			<br/>
			<span>9. No difundir mensajes que atenten contra la dignidad o puedan 
				herir la sensi de terceros</span>
			<br/>
			<span>10. No usar robots, spiders, "scrapers" o cualquier otro medio
				automático para acceder al Portal para copiar, retirar, renovar o
				publicar contenido sin previo consentimiento escrito por Milanuncios
			</span>
			<br/>
			<span>11. No almacenar o en cualquier forma recabar información o
				datos personales de terceros sin su consentimiento, incluidas las
				direcciones de correo electrónico</span>
			<br/>
			<span>12. Esquivar, evitar o "saltar" las medidas utilizadas para
				impedir o restringir el acceso al Portal</span>
		</p>

		<h4>4. PROPIEDAD INTELECTUAL E INDUSTRIAL</h4>
		<p>
		El Portal aloja contenidos tanto propios como contenidos creados por
		los usuarios. El Portal está protegido por leyes de propiedad
		intelectual y por los tratados internacionales en la materia. El
		contenido que se muestra en o a través del sitio web está protegido en
		su condición de obra colectiva y / o compilación, de acuerdo con las
		leyes de propiedad intelectual y los tratados internacionales sobre la
		materia. Salvo que fuera autorizado por Elovendo o a menos que ello
		resulte legalmente permitido, el usuario no podrá copiar, modificar,
		distribuir, vender, alquilar o explotar de cualquier otra forma
		contenidos del Portal (excepción hecha del propio contenido del
		usuario). Asimismo el usuario no puede llevar a cabo operaciones de
		desensamblaje o descompilación, ingeniería inversa o cualquier otra
		operación destinada a obtener cualquier código fuente, direcciones de
		acceso, etc... contenido en este Portal. Con la publicación de un
		anuncio, el usuario concede a Elovendo un derecho no exclusivo,
		mundial, perpetuo, irrevocable, gratuito, sublicenciable y cedible
		para la explotación del citado anuncio (incluyendo, sin limitación, su
		reproducción, distribución, comunicación pública, transformación y
		puesta a disposición del público) de manera que podamos utilizarlo en
		todos los medios y modalidades de explotación. $FILL se reserva el
		derecho de retirar contenidos en caso de que vulneren la ley, estas
		Condiciones de Uso o los derechos de terceras personas.
		</p>

		<h4>5. EXCLUSIÓN DE GARANTÍAS Y RESPONSABILIDAD</h4>
		<p>
		<span>1. Disponibilidad y Continuidad del Portal y los Servicios
			Elovendo no garantiza la disponibilidad, el acceso y/o la continuidad
			del funcionamiento del Portal y de sus Servicios. Asimismo, Elovendo
			no será responsable, con los límites establecidos por la Ley, de los
			daños y perjuicios causados al usuario como consecuencia de la
			indisponibilidad, fallos de acceso y falta de continuidad del Portal
			y de sus Servicios.</span>

		<span>2. Contenidos y Servicios de Elovendo Elovendo responderá única
			y exclusivamente de los Servicios que preste por sí misma y de los
			contenidos directamente originados por Elovendo e identificados con
			su copyright. Dicha responsabilidad quedará excluida en los casos en
			que concurran causas de fuerza mayor o en los supuestos en que la
			configuración de los equipos del Usuario no sea la adecuada para
			permitir el correcto uso de los servicios de Internet prestados por
			Elovendo. Sin perjuicio de lo dispuesto, la posible responsabilidad
			de Elovendo frente al usuario o frente a terceros se limita a la más
			alta de las siguientes cantidades: (a) el precio total que el usuario
			ha pagado a Elovendo durante los doce meses previos al acto que
			originó la responsabilidad, o bien (b) la cantidad de veinte (20)
			euros, con exclusión, en todo caso, de cualquier tipo de
			responsabilidad por daños indirectos o por lucro cesante. El Portal
			no se hace responsable de la posible aparición de anuncios indexados
			en buscadores ajenos al portal, una vez se hayan dado de baja de
			nuestras bases de datos.</span>

		<span>3. Contenidos y Servicios de Terceros Elovendo no revisa o
			controla previamente, aprueba ni hace propios los contenidos,
			productos, servicios, opiniones, comunicaciones, datos, archivos y
			cualquier clase de información de terceros recogidos en el Portal.
			Asimismo, no garantiza la licitud, fiabilidad, utilidad, veracidad,
			exactitud, exhaustividad y actualidad de los contenidos,
			informaciones y servicios de terceros en el Portal. Elovendo tampoco
			garantiza de ninguna forma que los Usuarios del Portal utilicen los
			contenidos y/o servicios del mismo conforme con la ley, las
			normativas aplicables, el orden publico ni las presentes Condiciones
			de Uso. Elovendo no controla con carácter previo y no garantiza la
			ausencia de virus y otros elementos en los contenidos y servicios
			prestados por terceros a través del Portal que puedan introducir
			alteraciones en los equipos de acceso, documentos o ficheros
			guardados en ellos. Elovendo no se responsabiliza de los contenidos
			volcados o los actos cometidos por otros usuarios. Tampoco se
			responsabiliza de cualquier daño o perjuicio como consecuencia de la
			presencia de virus u otros elementos en los contenidos y servicios
			prestados por terceros. Asimismo Elovendo no responderá de los daños
			y perjuicios de cualquier naturaleza derivados del uso negligente o
			malintencionado de las cuentas de correo electrónico utilizadas para
			insertar un anuncio o responder a un anuncio. En cualquier caso
			Elovendo no será responsable, ni indirectamente ni subsidiariamente,
			de la perdida económica o reputación, ni de ninguna clase de daños
			especiales, indirectos o emergentes, resultantes de la utilización
			del sitio web por parte del usuario. La exoneración de
			responsabilidad señalada en el párrafo anterior será de aplicación en
			el caso de que Elovendo no tenga conocimiento efectivo de que la
			actividad o la información almacenada es ilícita o de que lesiona
			bienes o derechos de un tercero susceptibles de indemnización, o si
			la tuviesen actúe con diligencia para retirar los datos y contenidos
			o hacer imposible el acceso a ellos. Sin perjuicio de lo dispuesto
			anteriormente, la posible responsabilidad de Elovendo frente al
			usuario o frente a terceros se limita a la más alta de las siguientes
			cantidades: (a) el precio total que el usuario ha pagado a
			Milanuncios durante los doce meses previos al acto que originó la
			responsabilidad, o bien (b) la cantidad de veinte (20) euros.</span>
		</p>

		<h4>6. CONTRATACIÓN DE SERVICIOS VINCULADOS AL ANUNCIO</h4>
		<p>
		La contratación del servicio “renovación automática” vinculado a un
		anuncio publicado en el Portal sólo producirá efectos DURANTE el
		periodo de vigencia del anuncio, no suponiendo en ningún caso una
		prórroga en la vigencia del mismo por finalización de su publicación,
		ni tampoco por eliminación activa del anuncio.
		</p>

		<h4>7. CONTRATACIÓN CON TERCEROS A TRAVÉS DEL PORTAL</h4>
		<p>
		El Usuario reconoce y acepta que cualquier relación contractual o
		extracontractual que formalice con los anunciantes o terceras personas
		contactadas a través del Portal, así como su participación en
		concursos, promociones, compraventa de bienes o servicios, se
		entienden realizados única y exclusivamente entre el Usuario y el
		anunciante y/o tercera persona. El Usuario acepta por lo tanto que
		Elovendo no tiene ningún tipo de responsabilidad sobre los daños o
		perjuicios de cualquier naturaleza ocasionados con motivo de sus
		negociaciones, conversaciones y/o relaciones contractuales o
		extracontractuales con los anunciantes o terceras personas físicas o
		jurídicas contactadas a través del Portal.
		</p>

		<h4>8. ENLACES DE TEXTO Y ENLACES GRÁFICOS</h4>
		<p>
		El Portal pone a disposición de sus clientes dispositivos técnicos de
		enlace de texto y/o enlaces gráficos que permiten a los usuarios el
		acceso a páginas web titularidad de otras entidades. Estos enlaces
		están debidamente señalados como publicidad en el Portal. El cliente
		previamente autorizado reconoce y acepta que la utilización de los
		contenidos de las páginas web enlazadas será bajo su exclusivo riesgo
		y responsabilidad y exonera a $FILL de cualquier responsabilidad sobre
		disponibilidad técnica de las páginas web enlazadas, la calidad,
		fiabilidad, exactitud y/o veracidad de los servicios, informaciones,
		elementos y/o contenidos a los que el usuario pueda acceder en las
		mismas. Elovendo no será responsable indirecta ni subsidiariamente de
		los daños y perjuicios de cualquier naturaleza derivados de a) el
		funcionamiento, indisponibilidad, inaccesibilidad y la ausencia de
		continuidad de las páginas web enlazadas; b) la falta de mantenimiento
		y actualización de los contenidos y servicios contenidos en las
		páginas web enlazadas; c) la falta de calidad, inexactitud, ilicitud,
		inutilidad de los contenidos y servicios de las páginas web enlazadas.
		</p>

		<h4>9. DERECHO DE LIMITAR O PONER FIN AL SERVICIO DE ELOVENDO</h4>
		<p>
		Elovendo se reserva el derecho, ejercitable en cualquier momento y de
		modo discrecional a rechazar cualquier anuncio o compromiso de
		ubicación de un anuncio en una categoría o localidad determinada.
		Elovendo también se reserva el derecho de eliminar cualquier anuncio
		del Portal sin necesidad de avisar previamente a los usuarios y/o
		anunciantes. Elovendo puede denegar o poner fin a su servicio y
		adoptar medidas técnicas y legales para mantener a los usuarios
		alejados del Portal si creemos que están creando problemas o actuando
		de forma contraria al espíritu o la forma de nuestras normas y
		condiciones de uso, todo ello con independencia de cualquier pago
		realizado por el uso del Portal o servicios complementarios. Sin
		embargo, decidamos o no retirar el acceso al sitio web de un usuario,
		no aceptamos ninguna responsabilidad por el uso no autorizado o ilegal
		del sitio web por los usuarios, tal y como se describe en los párrafos
		anteriores..
		</p>

		<h4>10. INDEMNIZACIÓN POR USO ABUSIVO</h4>
		<p>
		Elovendo se reserva el derecho, ejercitable en cualquier momento a
		cobrar una indemnización de un euro o su equivalente en créditos por
		cada anuncio que se vea obligada a eliminar del portal como
		consecuencia de contravenir las presentes Condiciones de Uso o Normas
		de publicación. Tanto el anunciante final como terceras personas o
		empresas que faciliten con su ayuda el uso abusivo de los servicios,
		podrán ser requeridos para el pago de esta indemnización.
		</p>

		<h4>11. VARIOS</h4>
		<p>
		<span>1. Modificaciones en el Servicio y Condiciones de Uso Elovendo
			se reserva el derecho a realizar cambios en el Portal, pudiendo
			modificar, suprimir e incluir, unilateralmente y sin previo aviso,
			nuevos contenidos así como la forma en que estos aparezcan
			presentados y localizados. Asimismo, Elovendo se reserva el derecho a
			realizar cambios las presentes Condiciones de Uso en cualquier
			momento. El usuario quedará sujeto a las nuevas Condiciones de Uso
			que hayan sido publicadas en el momento en que acceda o utilice los
			servicios del Portal. Si alguna de las presentes condiciones resulta
			invalidada, nula o inaplicable por cualquier motivo, dicha condición
			quedará excluida y no afectará a la validez ni la aplicabilidad del
			resto de condiciones.</span>

		<span>2. Precios de los Servicios Los precios de los servicios serán
			establecidos en las correspondientes páginas del Portal para cada
			servicio y serán válidos durante el tiempo que los mismos permanezcan
			accesibles al Usuario.</span>

		<span>3. Menores de Edad Con carácter general, para hacer uso de los
			Servicios del Portal los menores de edad deben haber obtenido
			previamente la autorización de sus padres, tutores o representantes
			legales, quienes serán responsables de todos los actos realizados a
			través del Portal por los menores a su cargo. En aquellos Servicios
			en los que expresamente se señale, el acceso quedará restringido
			única y exclusivamente a mayores de 18 años.</span>
		</p>

		<h4>12. DURACIÓN Y TERMINACIÓN</h4>
		<p>
		La prestación de los servicios y/o contenidos del Portal tiene una
		duración indefinida. Sin perjuicio de lo anterior, y además de por las
		causas establecidas legalmente, Elovendo está facultada para dar por
		terminada, suspender o interrumpir unilateralmente, en cualquier
		momento y sin necesidad de preaviso, la prestación del servicio y del
		Portal y/o cualquiera de los servicios.
		</p>



		<h4>13. JURISDICCIÓN</h4>
		<p>La ley aplicable en caso de disputa o conflicto de
			interpretación de los términos que conforman estas Condiciones de
			Uso, así como cualquier cuestión relacionada con los servicios del
			Portal, será la ley española. Para la resolución de cualquier
			controversia que pudiera surgir con ocasión del uso del Portal y sus
			servicios, las partes acuerdan someterse a la jurisdicción de los
			Juzgados y Tribunales de la ciudad de $FILL, y sus superiores
			jerárquicos, con expresa renuncia a otros fueros si lo tuvieren y
			fueran diferentes de los reseñados.</p>
	</div>

	<!-- Footer -->
	<div th:replace="elovendo/footer"></div>

</body>
</html>