<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<title>Qué es Elllllovendo</title>

<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'/>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'/>

<!-- ************************* -->
<!-- ******* Bootstrap ******* -->
<!-- ************************* -->

<!-- Javascript -->
<script src="/js/jquery-1.11.1.min.js"></script>
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script> -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="/css/aboutStyle.css"/>

</head>
<body>

	<!-- Header -->
	<div th:replace="elovendo/header"></div>

<!-- ==== HEADERWRAP ==== -->
	    <div id="headerwrap">
			<header class="clearfix">
	  		 		<h1><i class="glyphicon glyphicon-heart"></i></h1>
	  		 		<p>Elovendo,</p>
	  		 		<p>reiventando la segunda mano.</p>
	  		</header>
	    </div>
	    <div id="greywrap">
			<div class="row">
				<div class="col-lg-4 callout">
					<i class="glyphicon glyphicon-thumbs-up"></i>
					<h2>Reputación</h2>
					<p>Nuestro algoritmo de reputación se auto ajusta acorde a los usuarios y aprende con ellos. Con lo que podrás estar seguro de si puedes confiar en un vendedor. </p>
				</div><!-- col-lg-4 -->
					
				<div class="col-lg-4 callout">
					<i class="glyphicon glyphicon-map-marker"></i>
					<h2>Geolocalización</h2>
					<p>Estés donde estés, vende, busca o recibe alertas de lo que te interese. </p>
				</div><!-- col-lg-4 -->	
				
				<div class="col-lg-4 callout">
					<i class="glyphicon glyphicon glyphicon-eye-open"></i>
					<h2>Información</h2>
					<p>Queremos ofrecer la máxima información es nuestros anuncios, para que puedas ver absolutamente todo sin tenerlo delante.</p>
				</div><!-- col-lg-4 -->	
			</div><!-- row -->
		</div>
		
		<!-- ==== ABOUT ==== -->
		<div class="container" >
			<div class="row white">
			<br />
				<h1 class="centered">SOBRE ELOVENDO</h1>
				<hr/>
				
				<div class="col-lg-6">
					<p>En Elovendo apostamos por el avance. Es por eso por lo que siempre estamos investigando nuevas formas de renovar el mercado de la segunda mano. Ya sea en la aplicación móvil o web, nuestro objetivo es que puedas disfrutar de un producto que te ofrezca comodidad y seguridad. En Elovendo siempre estaremos trabajando para ti.</p>
				</div><!-- col-lg-6 -->
				
				<div class="col-lg-6">
					<p>Los anuncios geolocazidos no lo son todo de por sí. Es por eso por lo que nuestra priodidad, aparte de la comodidad de que puedas buscar donde, cuando y cómo quieras, es que nuestro vendedores te ofrezcan la máxima información sobre eso que venden y tú estás interesado. Y lo que estás viendo es sólo el principio, tenemos muchas más cosas en el horno para que disfrutes.</p>
				</div><!-- col-lg-6 -->
			</div><!-- row -->
		</div><!-- container -->
		
		<!-- ==== SECTION DIVIDER1 -->
		<section class="section-divider textdivider divider1">
			<div class="container">
				<h1>EL LÍMITE ESTÁ DETRÁS DE TI</h1>
				<hr/>
				<p>Todos nuestros anuncios están basados de la geolocazación, es la base de todo lo demás. Por eso podrás buscar lo que quieras, hasta en la otra punta del planeta, para encontrar eso que tanto buscas.</p>
			</div><!-- container -->
		</section><!-- section -->
		
		<!-- ==== SERVICES ==== -->
		<div class="container" >
			<br/>
			<br/>
			<div class="row">
				<h2 class="centered">ANUNCIOS, ANUNCIOS, ANUNCIOS</h2>
				<hr/>
				<br/>
				<div class="col-lg-offset-2 col-lg-8">
					<p>Los anuncios son la piedra angular de la segunda mano. Por eso queremos que tú, como vendedor o vendedora, vendas eso de lo que quieres deshacerte lo antes posible. Y también queremos que tú, como comprador o compradora, encuentres eso que buscas con la máxima información. Queremos que ambos, vendedores y compradores, puedan hablar, ver y comprobar aquello con lo que van a comerciar, como si esuviesen en la misma habitación.
					</p>
					<p>La información de la localización de los anuncios es privada, aunque recomendamos marcar una zona en particular, nadie nunca podrá ver punto exacto donde está ubicado el anuncio. Queremos ofrecer la máxima información, sin proporcionar ninguna información sensible.</p>
					<p>En Elovendo, tenemos nuestro propio sistema de mensajes, es una manera rápida y cómoda de que nuestros usuarios se comuniquen. Sin embargo, como no queremos obligar nada a nadie, ofrecemos la posibilidad de que usuarios se pongan en contacto fácilmente mediante otras vías, como correo electrónico o aplicaciones de mensajería.</p>
				</div><!-- col-lg -->
			</div><!-- row -->
			
		</div><!-- container -->
		
		<!-- ==== SECTION DIVIDER2 -->
		<section class="section-divider textdivider divider2">
			<div class="container">
				<h1>EN EL MÓVIL, CONTIGO</h1>
				<hr/>
				<p>Si eres usuario de nuestras aplicaciones móviles, tendrás los anuncios en todas partes, siempre que lo necesites. Da igual estés donde estés, ya sea en el tren, o en el sofá de tu casa, podrás buscar donde quieras, como quieras.</p>
			</div><!-- container -->
		</section><!-- section -->
		
		<!-- ==== GREYWRAP ==== -->
		<div id="greywrap">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 centered">
						<img class="img-responsive" src="/images/about/aboutuser.png" align="middle"/>
					</div>
					<div class="col-lg-4">
						<h2>Siempre querremos escucharte</h2>
						<p>Nuestros usuarios son la máxima prioridad en Elovendo. Por eso si tienes sugerencias, dudas, o cualquier asunto que quieras comunicarnos, ¡no dudes en ponerte en contacto con nosotros y te responderemos lo antes posible!.</p>
						<p><a class="btn btn-success" data-toggle="modal"
							data-target="#contactModal">Contáccctanos</a></p>
					</div>					
				</div><!-- row -->
			</div>
			<br/>
			<br/>
		</div><!-- greywrap -->
		
		<div id="footerwrap">
			<div class="container">
				<h4><a href="http://www.elovendo.com/index">Elovendo</a> - Copyright 2014</h4>
			</div>
		</div>
		

		<div th:replace="/elovendo/about/aboutContactModal"></div>

	<script type="text/javascript">
		$('#contactForm').submit(function(event) {
			console.log("from going to submit");
			event.preventDefault();
			var cv = $("meta[name='_csrf']").attr("content");
			var cn = $("meta[name='_csrf_header']").attr("content");
			$.ajax({
				type : 'POST',
				beforeSend : function(request) {
					request.setRequestHeader(cn, cv);
				},
				url : $(this).attr('action'),
				data : ({
					name : $('#name').val(),
					email: $('#email').val(),
					msg : $('#msg').val()
				})
	
			});
	
			document.getElementById('msg').value = '';
			$('#contactModal').modal('hide');
		});
	</script>

</body>
</html>