/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

#header-outer {
/* 	width: 100%; */
	top: 0px;
	left: 0px;
/* 	position: fixed; */
	position: relative;
	overflow: visible!important;
	padding: 4px 0px 4px 150px;
	background-color: #fff;
	z-index: 9998;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.33);
	-moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.33);
	-webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.33);
}

header#top {
	position: relative;
	z-index: 9998;
	width: 100%;
	color: #FFF;
/* 	font-family: Inconsolata; */
}

.banner-logo {
	width: auto;
	max-height: 50px;
	height: auto;
	width: auto;
}

.sellButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ab45bf;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ab45bf;
	box-shadow:inset 0px 1px 0px 0px #ab45bf;
	background-color:#9f40a6;
	border:1px solid #6c0072;
	display:inline-block;
	cursor:pointer;
	position: absolute;
	margin-top: 10px;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	float: right;
	margin-left: 100px;
	text-decoration:none;
}

.sellButton:hover {
	background-color:#6c0072;
}

.sellButton:active {
/* 	position: relative; */
	top:1px;
}

/* Override bootstrap button style */
.btn-info { 
	background-color: #9f40a6;
	border-color: #7c2d82;
}

.btn-info:hover { 
	background-color: #6c0072;
	border-color: #7c2d82; 
}

/*********************************************************************************/
/* Navbar                                                                        */
/*********************************************************************************/

.navbar-default {
	background-color: #ffffff;
	border-color: #8e44ad;
	border-radius:0px; 
	-webkit-border-radius:0px; 
	-moz-border-radius:0px;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.33);
	-moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.33);
	-webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.33);
}
}
.navbar-default .navbar-brand {
	color: #000000;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #ecdbff;
}
.navbar-default .navbar-text {
	color: #000000;
}
.navbar-default .navbar-nav > li > a {
	color: #000000;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #ecdbff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ecdbff;
	background-color: #8e44ad;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #ecdbff;
	background-color: #8e44ad;
}
.navbar-default .navbar-toggle {
	border-color: #8e44ad;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #8e44ad;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #000000;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #000000;
}
.navbar-default .navbar-link {
	color: #000000;
}
.navbar-default .navbar-link:hover {
	color: #ecdbff;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #000000;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #ecdbff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #ecdbff;
		background-color: #8e44ad;
	}
}