    .conversation-wrap
    {
        box-shadow: -2px 0 3px #ddd;
        padding:0;
        max-height: 400px;
        overflow: auto;
    }
    .conversation
    {
        padding:5px;
        border-bottom:1px solid #ddd;
        margin:0;

    }

    .message-wrap
    {
        box-shadow: 0 0 3px #ddd;
        padding:0;

    }
    .msg
    {
        padding:5px;
        /*border-bottom:1px solid #ddd;*/
        margin:0;
    }
    .msg-wrap
    {
        padding:10px;
        max-height: 600px;
        overflow: auto;

    }

    .time
    {
        color:#bfbfbf;
    }

    .send-wrap
    {
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        padding:10px;
        /*background: #f8f8f8;*/
    }

    .send-message
    {
        resize: none;
    }

    .highlight
    {
        background-color: #f7f7f9;
        border: 1px solid #e1e1e8;
    }

    .send-message-btn
    {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;

        border-bottom-right-radius: 0;
    }
    .btn-panel
    {
        background: #f7f7f9;
    }

    .btn-panel .btn
    {
        color:#b8b8b8;

        transition: 0.2s all ease-in-out;
    }

    .btn-panel .btn:hover
    {
        color:#666;
        background: #f8f8f8;
    }
    .btn-panel .btn:active
    {
        background: #f8f8f8;
        box-shadow: 0 0 1px #ddd;
    }

    .btn-panel-conversation .btn,.btn-panel-msg .btn
    {

        background: #f8f8f8;
    }
    .btn-panel-conversation .btn:first-child
    {
        border-right: 1px solid #ddd;
    }

/*     .msg-wrap .media-heading */
/*     { */
/*         color:#003bb3; */
/*         font-weight: 700; */
/*     } */


    .msg-date
    {
        background: none;
        text-align: center;
        color:#aaa;
        border:none;
        box-shadow: none;
        border-bottom: 1px solid #ddd;
    }


/*     body::-webkit-scrollbar { */
/*         width: 12px; */
/*     } */
 
    
    /* Let's get this party started */
    ::-webkit-scrollbar {

width: 7px;
position: absolute;
top: 88px;
opacity: 0.4;
display: block;
border-top-left-radius: 7px;
border-top-right-radius: 7px;
border-bottom-right-radius: 7px;
border-bottom-left-radius: 7px;
z-index: 99;
right: 1px;
height: 301.339285714286px;
background: rgb(161, 178, 189);

    }

    /* Track */
    ::-webkit-scrollbar-track {
width: 7px;
height: 100%;
position: absolute;
top: 0px;
display: block;
border-top-left-radius: 7px;
border-top-right-radius: 7px;
border-bottom-right-radius: 7px;
border-bottom-left-radius: 7px;
opacity: 0.1;
z-index: 90;
right: 1px;
background: rgb(51, 51, 51);
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
/*        -webkit-border-radius: 10px;
        border-radius: 10px;*/
        background:#ddd; 
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }
    ::-webkit-scrollbar-thumb:window-inactive {
        background: #ddd; 
    }

/************************************/
/************************************/
/**************** V2 ****************/
/************************************/
/************************************/

.divide-20 {
height: 20px;
width: 100%;
}

.chat-pop {
	background-color: #f4f4f4;
	padding: 8px;
	border-radius: 4px;
	position: relative;
	width: 70%;
}

.chat-pop .media-heading {
font-weight: 400;
}

.elochat h4, .h4 {
font-size: 18px;
}
.elochat h4, h5, h6 {
margin-top: 10px;
margin-bottom: 10px;
}
.elochat h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight: 500;
line-height: 1.1;
color: inherit;
}

.elochat p {
	margin: 0 0 10px;
}

.elochat .chatRow {
margin-top: 15px;
}

.elochat .chatcurr {
background-color: #dbdbdb;
text-align: right;
}

.elochatMes .btn-primary {
	/* color: #fff; */
	background-color: #5e87b0;
	/* border-color: #507aa4; */
}

.elochat .mesText  {
	width: 90%;
	word-wrap: break-word;
	text-align: left;
}

.elochatMes .btn {
	/* display: inline-block; */
	/* margin-bottom: 0; */
	/* font-weight: normal; */
	text-align: center;
	height: 100%;
	width: 80px;
	/* vertical-align: middle; */
	/* cursor: pointer; */
	/* background-image: none; */
	/* border: 1px solid transparent; */
	/* white-space: nowrap; */
	/* padding: 6px 12px; */
	font-size: 14px;
	line-height: 1.428571429;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}