/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

/* '#' es id y '.' es class .//&&//. top right bottom left */

.content {
	width: 1200px;
	min-height: 100%;
/* 	margin-right: auto; */
	position: absolute;
	background-color: #F5F5F5; 
/* 	left: 50%; */
/* 	vertical-align: middle; */
	margin: 50px 0px 0px 1000px;
/* 	margin-top: 100px; height/2 = 500px / 2 */
/* 	margin-left: 300px; */
}

.contentPagination {
	width: auto;
/* 	height: auto; */
/* 	margin: 10px 50px auto; */
	position: relative;
}

#contentFilter {
	width: 400px;
	height: 100%;
	background-color: #000;
	background-repeat: no-repeat;
	position: relative;
/* 	float:left; */
/* 	top:0; */
/*     bottom:0; */
/*     left:0; */
/*     right:0; */
/*     overflow: hidden; */
}

.contentItemList {
	width: 800px;
	height: auto;
/* 	margin: 0px auto 0px 50px; */
	position: relative;
	display: inline-block;
/* 	float: right; */
}

#itemList {
	width: 800px;
	height: auto;
	color: #000;
	float: right;
	margin-left: 20px;
	padding: 10px;
	position: relative;
/* 	display: inline-block; */
}

#itemList .itemField {
	position: relative;
}

#itemList .itemText {
	position: relative;
/* 	display: inline-block; */
	float: right;
}

#itemList .itemUser {
	position: relative;
	float: right;
}

#itemList .itemTitle {
	font-size: 20px;
	position: relative;
}

#itemList .picture {
	width: 400px;
	height: 200px;
}

#itemList .startButton {
	float: right;	
}

/*********************************************************************************/
/* Thumbnail                                                                         */
/*********************************************************************************/

.thumbnail {
    background: #000;
}

.top-buffer { margin-top:20px; }