/*********************************************************************************/
/* Title                                                                         */
/*********************************************************************************/


/*********************************************************************************/
/* Body and stuff                                                                */
/*********************************************************************************/
body {
	background-color:#FBFAF9;
/* 	font-family: Inconsolata; */
}

.form-fix {
	z-index:0!important;
}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/
/* #featured { */
/* 	width: auto; */
/* 	margin-top: 20px; */
/* 	margin-left: 10px; */
/* /* 	margin-top: -1050px; */ */
/* 	float: left; */
/* /* 	display: inline-block; */ */
/* } */

/* .featuredImage { */
/* 	width: 300px; */
/* 	height: 150px; */
/* 	margin: 4px 4px auto; */
/* 	filter: grey; */
/* 	cursor: pointer; */
/* 	/* -webkit-filter: grayscale(1); */ */
/* } */

.featuredSection {
	max-width: 400px;
	max-height: 200px;
	width:300px;
    height:150px;
	margin: 4px 4px auto;
	cursor: pointer;
}

.featuredSection:hover {
/* 	width: 250px; */
/* 	height: 100px; */
/* 	margin: 6px; */
	/*-webkit-filter: grayscale(0);*/
	text-decoration: none;
	-moz-box-shadow: 0 0 10px #ccc; 
	-webkit-box-shadow: 0 0 10px #ccc; 
	box-shadow: 0 0 10px #ccc;
}

.featuredSection .thumbnail:hover {
	-moz-box-shadow: 0 0 10px #ccc; 
	-webkit-box-shadow: 0 0 10px #ccc; 
	box-shadow: 0 0 10px #ccc;
}

.featuredSection hr {
	margin-bottom: 5px;
}

.featuredSection .caption> h3 h4 {
	margin-top: 5px;
}

.featuredSection .thumbnail>img {
	max-height: 200px;
	max-width: 100%;
}

.featuredTextDesc {
	width: 100%;
	height: 84px;
	word-wrap: break-word;
}

.indexMsg {
	position: absolute;
	top: 85%;
	left: 36%;
}

/*********************************************************************************/
/* Item list box                                                                 */
/*********************************************************************************/

.itemList a {
	color: #000;
}

.itemList h3 {
	margin-top: 0px;
}

.itemList a:hover {
	color: #516d7c;
}

.itemList .thumbnail {
	border-radius: 0px;
}

/* Send button */
.itemElement {
	position: absolute;
	top:  79%; /* offset btn according to your needs */
	left: 82%; /* offset btn according to your needs */
}

.itemList .itemDesc > p {
	width: 100%;
	height: 44px;
	word-wrap: break-word;
	margin-bottom: 5px;
}

.itemList .featuredThumbnail {
	background-color: #6d4579!important;
	border-color:#b18bba!important;
	 border-style: solid;
    border-width: 2px;
    color: #FFF;
}

.itemList .featuredThumbnail .itemDesc {
    color: #FFF;
}

.itemList .featuredThumbnail h3 {
    color: #FFF;
}

.itemList .featuredThumbnail:hover {
	background: #a984a9!important;
	border-color:#b18bba !important;
}

.itemList .thumbnail>img, .thumbnail a>img {
	text-align: center;
	vertical-align: middle;
	display:table;
	float:none;
	margin: 0px auto!important;
/* 	max-width: 200px; */
/* 	max-height: 200px; */
}

.itemList .img-responsive {
	 margin: 0 auto;
	 max-height: 170px;
}

.itemList .userInfo {
	margin-top: 5px;
}


/*********************************************************************************/
/* Index category box                                                            */
/*********************************************************************************/

.categoryIndex a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
	border-color: #563D7C;
	border-radius: 0px;
}

.categoryIndex .thumbnail {
	padding: 0px;
	border-radius: 0px;
}


/*********************************************************************************/
/* Custom thumbnail	                                                             */
/*********************************************************************************/

.post-content {
/*     background: none repeat scroll 0 0 #FFffff; */
    opacity: 0.7;
    margin: 0 auto 1px auto;
    margin-top: -15px;
    margin-bottom: -10px;
    text-align:center;
    position: relative;
    width:80%;
    text-decoration: none;
}

.post-content2 {
    background: #FFffff;
    opacity: 0.7;
/*     margin: 0 auto 1px auto; */
    margin-top: -100px;
    margin-bottom: -20px;
    position: relative;
    width:100%;
    height: 50px;
    text-align: center;
    font-size: xx-large;
    size: 50px;
    color: black;
    text-decoration: none;
}

/* .thumbnail, .thumbnail:hover { */
/* 	border: 0 none; */
/* 	background: #000; */
/* 	 border-color:#c888d8; */
/* 	 text-decoration: none;  */
/* 	 height: 170px; */
/* } */

.thumbnail2 {
	border: 0 none;
	background: #000;
	 border-color:#c888d8;
	 text-decoration: none; 
/* 	 height: 170px; */
}

.thumbnail2:hover {
	background: #a69bb6;
	 border-color:#867c95!important;
	color: #FFF!important;
/* 	 height: 170px; */
}

/*********************************************************************************/
/* Conversations view                                                            */
/*********************************************************************************/

.elomes > a > p {
	word-wrap: break-word;
}

/*********************************************************************************/
/* Modal centering                                                              */
/*********************************************************************************/


.modal-dialog-center { /* Edited classname 10/03/2014 */
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
}

@media (max-width: 767px) {
	.modal-dialog-center { /* Edited classname 10/03/2014 */
		width: 100%;
	}
} 


/*********************************************************************************/
/* Web margin                                                                    */
/*********************************************************************************/

/**
Color graph
**/

.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.hrStyle {
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.hrStyle2 {
	border: 0;
	height: 1px;
	background: #333;
	background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
	background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
	background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
	background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}

.mediumTextDesc {
	width: 100%;
	height: 40px;
	word-wrap: break-word;
}

.largeTextDesc {
	width: 100%;
	height: 150px;
	word-wrap: break-word;
}

.fullTextDesc {
	width: 100%;
	height: 100%;
	min-height: 500px;
	word-wrap: break-word;
}

/*********************************************************************************/
/* Item profile style                                                            */
/*********************************************************************************/

.well {
	min-height: 500px!important;
	padding: 50px!important;
	background: #FFF!important;
}

.reputation {
	margin-top: 30px;
}

.opItemProfile .dropdown-menu {
	box-shadow: none;
	-webkit-box-shadow: none;
	width: 200px;
	margin-left: -125px;
	left: 50%;
}

.opItemProfile .btn {
	width:100%;
}

.emphasis {
	border-top: 4px solid transparent;
}

.emphasis h2 {
	margin-bottom: 0;
}

.ivote {
	position: relative;
	display: inline-block;
	min-width: 30%;
	width: auto;
	border-radius: 3px;
}

/*********************************************************************************/
/* Profile style                                                                 */
/*********************************************************************************/
.profileStyle .nav-tabs {
	margin-bottom: 30px;
}

.list-no-border .list-group-item:first-child {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.list-no-border .list-group-item:last-child {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.profileStyle .thumbnail {
	border-radius: 0px;
}

.profileStyle .badge {
	background-color: #483664;
}

.profileStyle .list-group-item .glyphicon {
/* color: #bcbcbc; */
padding-right: 10px;
display: inline;
}

.profileStyle .profilePic {
	border-radius: 50%;
	padding: 5px;
	border: 1px solid #ddd;
	background: #fff;
	width: 200px;
	height: 200px;
	margin: 0px auto;
}

.profileStyle .img-responsive {
    margin: 0 auto;
}

.social-icon {
	list-style: none;
	padding: 0;
}

.social {
	padding-left: 32px;
	height: 24px;
	line-height: 24px;
	display: inline-block;
	color: #383941;
	position: relative;
}

/* a { */
/* 	color: #428bca; */
/* 	text-decoration: none; */
/* } */
/* a { */
/* 	background: transparent; */
/* } */

.info-block {
	position: relative;
	margin-bottom: 30px;
}

.whiteList a.list-group-item:hover, a.list-group-item:focus {
    background-color: #FFF!important;
    color: #555;
    text-decoration: none;
}

.myi {
	padding-left: 20px!important;
}
.myi:hover {
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.myi > a {
	color: #000;
}

.myi > a:hover {
	color: #000;
}

/*********************************************************************************/
/* Profile pic                                                                   */
/*********************************************************************************/

.userPic img {
	border-radius: 50%;
	padding: 5px;
	border: 1px solid #ddd;
	background: #fff;
	width: 150px;
	height: 150px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
}

.userPicMin {
	margin-right: 10px;
}

.userPicMin img {
	border-radius: 50%;
	padding: 2px;
	border: 1px solid #ddd;
	background: #fff;
	width: 60px;
	height: 60px;
	margin-top: 0px;
	margin-bottom: 20px;
	margin-right: 10px;
}

.userPicChat img {
	border-radius: 50%;
	vertical-align: middle;
	margin:auto;
	padding: 2px;
	border: 1px solid #ddd;
	background: #fff;
	width: 64px;
	height: 64px;
}
/*********************************************************************************/

.list-group {
	margin: 10px 0 0;
}

.list-group {
	padding-left: 0;
	margin-bottom: 20px;
}

.theme-style .list-group-item .glyphicon {
	padding-right: 10px;
	display: inline;
}

/** item 2.0 **/
/*******************************************/

/* .btn, */
.square, .label {
	border-radius: 0px !important;
}

.user-details {
    background: #eee;
    min-height: 333px;
}

.user-details .row {
	margin: 20px;
}

.user-image {
  max-height:200px;
  overflow:hidden;
}

/*********************************************************************************/
/* Item view thumb                                                               */
/*********************************************************************************/

.itemViewThumb .thumbnail a > img {
	max-height: 330px;
	width: auto;
}

.mrimg {
	display: inline-block;
	width: 150px;
	height: 100%;
	vertical-align: middle;
	margin-top: 20px;
}

/*********************************************************************************/
/* Paypal button                                                                 */
/*********************************************************************************/

.ppb {
	border: none;
	cursor: pointer;
	background: url("/images/button/pwpp.png");
	background-repeat: no-repeat;
	height: 80px;
	width: 100%;
	padding: 10px;
}

.ppb:active {
	border: none;
	cursor:pointer;
	background-image: url("/images/button/pwpph.png");
	background-repeat: no-repeat;
	height: 80%;
	width: 80%;
}


/*********************************************************************************/
/* Featured effect                                                               */
/*********************************************************************************/
@-webkit-keyframes pop {
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pop {
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.pop {
	display: inline-block;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.pop:hover, .pop:focus, .pop:active {
	-webkit-animation-name: pop;
	animation-name: pop;
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}

/*********************************************************************************/
/* Alert                                                                         */
/*********************************************************************************/

.falert {
	position: fixed;
	bottom: 85%;
	right: 2%;
	margin-bottom: 0;
	font-size: 1.2em;
/* 	padding: 1em 1.3em; */
}

/*********************************************************************************/
/* Error                                                                         */
/*********************************************************************************/

.error-template {
	padding: 40px 15px;
	text-align: center;
}

.error-actions {
	margin-top: 15px;
	margin-bottom: 15px;
}

.error-actions .btn {
	margin-right: 10px;
}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

#footerwrap {
	background: #2b2b2b;
	margin-top: 0px;
	padding-top: 40px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;
	text-align: center;
	color: white;
}

#footerwrap a {
	color: #b18bba;
}

#footerwrap h4 {
	color: white;
}