/*********************************************************************************/
/* Title                                                                         */
/*********************************************************************************/


/*********************************************************************************/
/* Body                                                                         */
/*********************************************************************************/
body {
	background-color:#FBFAF9;
/* 	font-family: Inconsolata; */
}

/*********************************************************************************/
/* Featured                                                                   */
/*********************************************************************************/
/* #featured { */
/* 	width: auto; */
/* 	margin-top: 20px; */
/* 	margin-left: 10px; */
/* /* 	margin-top: -1050px; */ */
/* 	float: left; */
/* /* 	display: inline-block; */ */
/* } */

/* .featuredImage { */
/* 	width: 300px; */
/* 	height: 150px; */
/* 	margin: 4px 4px auto; */
/* 	filter: grey; */
/* 	cursor: pointer; */
/* 	/* -webkit-filter: grayscale(1); */ */
/* } */

.featuredSection {
	max-width: 400px;
	max-height: 200px;
	width:300px;
    height:150px;
	margin: 4px 4px auto;
	cursor: pointer;
}

.featuredSection:hover {
/* 	width: 250px; */
/* 	height: 100px; */
/* 	margin: 6px; */
	/*-webkit-filter: grayscale(0);*/
	-moz-box-shadow: 0 0 10px #ccc; 
	-webkit-box-shadow: 0 0 10px #ccc; 
	box-shadow: 0 0 10px #ccc;
}

.featuredTitle:hover {
	width: 300px;
	margin-left: 6px;
	margin-right: 6px;
	background-color: #ecf0f1;
	font-size: 20px;
	/*color: black; */
	position: absolute;
	margin-top: -30px;
	padding-left: 10px;
	/*	opacity:0.5;
	filter:alpha(opacity=60); */
	
/* -moz-box-shadow: 0 0 10px #ccc;  */
/* -webkit-box-shadow: 0 0 10px #ccc;  */
/* box-shadow: 0 0 10px #ccc; */
}

.featuredTitle {
	width: 300px;
	margin: -35px 4px auto;
/* 	padding: 0px 0px 0px 0px; */
	background-color: black;
	text-align: center;
	font-size: 30px;
	color: white;
	position: absolute;
	opacity: 0.5;
	filter: alpha(opacity = 60);
}

/*********************************************************************************/
/* Item list box                                                                 */
/*********************************************************************************/

.itemList a {
	color: #000;
}

.itemList a:hover {
	color: #516d7c;
}

.itemList .thumbnail {
	border-radius: 0px;
}

/* Send button */
.itemElement {
	position: absolute;
	top:  79%; /* offset btn according to your needs */
	left: 82%; /* offset btn according to your needs */
}

.itemList .featuredThumbnail {
	background-color: #bea0c7!important;
	border-color:#b18bba!important;
	 border-style: solid;
    border-width: 3px;
}

.itemList .featuredThumbnail:hover {
	background: #d3b4d3!important;
	border-color:#b18bba !important;
}

.itemList .thumbnail>img, .thumbnail a>img {
	text-align: center;
	vertical-align: middle;
	display:table;
	float:none;
	margin: 0px auto!important;
/* 	max-width: 200px; */
/* 	max-height: 200px; */
}

.itemList .img-responsive {
	 margin: 0 auto;
	 max-height: 190px;
}


/*********************************************************************************/
/* Index category box                                                            */
/*********************************************************************************/

.categoryIndex a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
	border-color: #563D7C;
	border-radius: 0px;
}

.categoryIndex .thumbnail {
	padding: 0px;
	border-radius: 0px;
}


/*********************************************************************************/
/* Custom thumbnail	                                                                     */
/*********************************************************************************/

.post-content {
/*     background: none repeat scroll 0 0 #FFffff; */
    opacity: 0.7;
    margin: 0 auto 1px auto;
    margin-top: -15px;
    margin-bottom: -10px;
    text-align:center;
    position: relative;
    width:80%;
    text-decoration: none;
}

.post-content2 {
    background: #FFffff;
    opacity: 0.7;
/*     margin: 0 auto 1px auto; */
    margin-top: -100px;
    margin-bottom: -20px;
    position: relative;
    width:100%;
    height: 50px;
    text-align: center;
    font-size: xx-large;
    size: 50px;
    color: black;
    text-decoration: none;
}

/* .thumbnail, .thumbnail:hover { */
/* 	border: 0 none; */
/* 	background: #000; */
/* 	 border-color:#c888d8; */
/* 	 text-decoration: none;  */
/* 	 height: 170px; */
/* } */

.thumbnail2 {
	border: 0 none;
	background: #000;
	 border-color:#c888d8;
	 text-decoration: none; 
/* 	 height: 170px; */
}

.thumbnail2:hover {
	background: #a69bb6;
	 border-color:#867c95!important;
	color: #FFF!important;
/* 	 height: 170px; */
}


/* img.wp-post-image { */

/*     border-radius: 0; */
/*     box-shadow: 0; */
/* } */

/*********************************************************************************/
/* Thumbnail                                                                     */
/*********************************************************************************/

.thumbnail.right-caption > img {
    float: left;
    margin-right: 9px;
}

.thumbnail.right-caption {
    float: left;
}

.thumbnail.right-caption > .caption {
    padding: 4px;
}



/*********************************************************************************/
/* Web margin                                                                    */
/*********************************************************************************/

.web-top-margin {
	margin-top:20px;
}

.web-bottom-margin {
	margin-bottom:20px;
}

/**
Color graph
**/

.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.featuredTextDesc {
	width: 100%;
	height: 50px;
	word-wrap: break-word;
}

.mediumTextDesc {
	width: 100%;
	height: 40px;
	word-wrap: break-word;
}

.largeTextDesc {
	width: 100%;
	height: 150px;
	word-wrap: break-word;
}

.fullTextDesc {
	width: 100%;
	height: 100%;
	min-height: 500px;
	word-wrap: break-word;
}

/*********************************************************************************/
/* List style                                                                    */
/*********************************************************************************/

/* .itemList a>img { */
/* 	text-align: center; */
/* 	max-height: 200px;  */
/* 	width: 200px;   */
/* 	margin: 0 auto; */
/* } */

/*********************************************************************************/
/* Profile style                                                                 */
/*********************************************************************************/

.profileStyle .nav-tabs {
	margin-bottom: 30px;
}

.profileStyle .thumbnail {
	border-radius: 0px;
}

.profileStyle .badge {
	background-color: #2db6f1;
}

.profileStyle .list-group-item .glyphicon {
/* color: #bcbcbc; */
padding-right: 10px;
display: inline;
}

.profileStyle .profilePic {
	border-radius: 50%;
	padding: 2px;
	border: 1px solid #ddd;
	background: #fff;
	width: 200px;
	height: 200px;
	margin: 0px auto;
}

.profileStyle .img-responsive {
    margin: 0 auto;
}

.social-icon {
	list-style: none;
	padding: 0;
}

.social {
	padding-left: 32px;
	height: 24px;
	line-height: 24px;
	display: inline-block;
	color: #383941;
	position: relative;
}

a {
	color: #428bca;
	text-decoration: none;
}
a {
	background: transparent;
}

.info-block {
	position: relative;
	margin-bottom: 30px;
}

/*********************************************************************************/
/* Profile pic                                                                   */
/*********************************************************************************/

.userPic img {
	border-radius: 50%;
	padding: 5px;
	border: 1px solid #ddd;
	background: #fff;
	width: 150px;
	height: 150px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
}

.userPicMin {
	margin-right: 10px;
}

.userPicMin img {
	border-radius: 50%;
	padding: 1px;
	border: 1px solid #ddd;
	background: #fff;
	width: 60px;
	height: 60px;
	margin-top: 0px;
	margin-bottom: 20px;
	margin-right: 10px;
}
/*********************************************************************************/

.list-group {
margin: 10px 0 0;
}

.list-group {
padding-left: 0;
margin-bottom: 20px;
}

.theme-style .list-group-item .glyphicon {
padding-right: 10px;
display: inline;
}