<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Añadir anuncio</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />

<!-- Form -->
<!-- <link rel="stylesheet" -->
<!-- 	href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css" /> -->

<!-- Button style -->
<link href="/css/buttonStyle.css" media="all" rel="stylesheet" type="text/css" />
<!-- Web style -->
<link href="/css/styleweb.css" media="all" rel="stylesheet" type="text/css" />

<!-- ************************* -->
<!-- ******* Bootstrap ******* -->
<!-- ************************* -->

<!-- Javascript -->
<script src="/js/jquery-1.11.1.min.js"></script>
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script> -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<!-- Bootstrap extra (bs-callout) -->
<link href="/css/bootstrap-extra.css" media="all" rel="stylesheet" type="text/css" />

<!-- File input -->
<link href="/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
<script src="/js/fileinput.min.js" type="text/javascript"></script>

<!-- Checkbox -->
<link href="/css/checkbox-x.min.css" media="all" rel="stylesheet" type="text/css" />
<script src="/js/checkbox-x.min.js" type="text/javascript"></script>

<!-- Switch -->
<link href="/css/bootstrap-switch.css" rel="stylesheet"/>
<script src="/js/bootstrap-switch.js"></script>

<!-- Markdown text -->
<script src="/js/richtext/wysihtml5-0.3.0.min.js"></script> <!-- Library -->
<script src="/js/richtext/advanced.js"></script> <!-- wysihtml5 parser rules -->
<script src="/js/richtext/bootstrap-wysihtml5.js"></script> <!-- wysihtml5 parser rules -->
<link href="/css/bootstrap-wysihtml5.css" media="all" rel="stylesheet" type="text/css" />

<!-- dependent dropdown -->
<link href="/css/dependent-dropdown.min.css" media="all" rel="stylesheet" type="text/css" />
<script src="/js/dependent-dropdown.min.js" type="text/javascript"></script>

<!--  geo -->
<script src="/js/geo.js"></script>
<!-- Google autocomplete  -->
<!-- <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;libraries=places"></script> -->

<!-- <script src="/js/initAddItemPage.js"></script> Library -->

<!-- Bootstrap switch -->
<!-- <link href="/css/bootstrap-switch.css" rel="stylesheet"/> -->
<!-- <script src="/js/bootstrap-switch.js"></script> -->

</head>

<body onload="initialize(); initAutoComplete();">

	<noscript>&lt;div class="alert alert-danger"&gt;You must
		enable Javascript on your browser for the site to work optimally and
		display sections completely.&lt;/div&gt;</noscript>

	<!-- Header -->
<!-- 	<div th:replace="/elovendo/header :: elovendo-header"></div>-->
<!-- 	<div th:include="/elovendo/header :: elovendo-header"></div> -->
	<div th:replace="elovendo/header"></div>

	<div class="row">
		<div class="col-xs-12 col-md-12 text-center" style="margin-bottom:20px;">
			<h1>Crea tu anuncio</h1>
			<hr class="hrStyle2"/>
		</div>
	</div>

	<div class="container">
		<div>
			<h3>Información del anuncio</h3>
			<hr class="hrStyle2" />
		</div>
		
		<div th:if="${insPoints}" class="alert alert-danger" role="alert">
			<p class="text-center">
				<strong th:text="#{Error.points.insufficient.title}">Insufficient points</strong>
			</p>
			<p class="text-center">
				<span th:text="#{Error.points.insufficient.explain1}"></span>
				<strong>
				<span th:text="${user.points}"></span>
				<span th:text="#{Error.points.insufficient.explain2}"></span>
				</strong>
				<span th:text="#{Error.points.insufficient.explain3}"></span>
				<a href="/site/pricing/points" class="alert-link" 
					th:text="#{Error.points.insufficient.explain4}">You should purchase more</a>
			</p>
		</div>
		
		<form class="form-horizontal" role="form" th:action="@{/bazaar/add/item}" method="post" enctype="multipart/form-data" >
			<div class="form-group">
				<label for="title" class="col-sm-2 control-label">Title</label> 
				<div class="col-sm-10">
					<input th:unless="${#fields.hasErrors('item.title')}" type="text"
						class="form-control" id="title" name="" placeholder="Enter title"
						th:field="${item.title}" required="required" pattern=".{5,40}"
						th:title="#{Length.item.title}" />
					<div th:if="${#fields.hasErrors('item.title')}"
						class="form-group has-error">
						<label class="control-label" for="title"
							th:errors="${item.title}" style="text-align: center!important">Input with error</label> 
							<input class="form-control" type="text" class="form-control" 
							id="title" name="" placeholder="Enter title" th:field="${item.title}" 
							required="required" pattern=".{5,40}" th:title="#{Length.item.title}" />
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="hero-unit" >
					<label for="title" class="col-sm-2 control-label" style="margin-top:40px;">Description</label> 
					<div class="col-sm-10">
						<!-- FIXME -->
						<!-- Pasting formatted HTML when creating item makes show formatted everywhere -->
						<!-- it's important make sure pasting DOES AS TEXT/PLAIN -->
						<textarea th:unless="${#fields.hasErrors('item.description')}" id="textarea" 
							class="form-control textarea" rows="15" th:field="${item.description}" 
							required="required" placeholder="Descripción..." maxlength="500"
							th:title="#{Length.item.description}"></textarea>
						<div th:if="${#fields.hasErrors('item.description')}"
							class="form-group has-error">
							<label class="control-label" for="title"
								th:errors="${item.title}" style="text-align: center !important">Input
								with error</label> 
							<textarea id="textarea" class="form-control textarea" rows="15" 
								th:field="${item.description}" required="required" placeholder="Descripción..." 
								maxlength="500" th:title="#{Length.item.description}"></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="title" class="col-sm-2 control-label">Prize</label> 
				<div class="col-sm-10">
					<input th:unless="${#fields.hasErrors('item.prize')}" type="number" class="form-control" 
						id="prize" min="0" placeholder="Enter prize" th:field="${item.prize}" required="required"/>
					<div th:if="${#fields.hasErrors('item.prize')}"
						class="form-group has-error">
						<label class="control-label" for="prize"
							th:errors="${item.prize}" style="text-align: center!important">Input with error</label> 
							<input type="number" class="form-control" id="prize" min="0" 
								placeholder="Enter prize" th:field="${item.prize}" required="required" />
					</div>
				</div>
			</div>
<!-- 			<div class="form-group"> -->
<!-- 				<label for="province" class="col-sm-2 control-label">Provincia</label> -->
<!-- 				<div class="col-sm-10"> -->
<!-- 					<select class="form-control" th:value="${provinceName}" name="provinceName"> -->
<!-- 					  <option th:each="province : ${provinces}"  -->
<!-- 					          th:value="${province.provinceName}"  -->
<!-- 					          th:text="${province.provinceName}">Province</option> -->
<!-- 					</select> -->
<!-- 				</div> -->
<!-- 			</div> -->
			<div class="form-group">
				<label for="category" class="col-sm-2 control-label">Categoría</label>
				<div class="col-sm-10">
					<select id="category" class="form-control" name="category">
					  <option th:each="category : ${categories}" 
					          th:value="${category.categoryId}" 
					          th:text="${category.categoryName}">Category</option>
					</select>
				</div>
<!-- 					<select id="category" class="depdrop" depends="['category']" url="www.elovendo.com/bazaar/getsubs"> -->
					
<!-- 					</select> -->
			</div>
			<div class="form-group">
				<label for="subCategory" class="col-sm-2 control-label">SubCategoría</label>
				<div class="col-sm-10">
					<select th:unless="${#fields.hasErrors('item.subCategory')}" 
						id="subCategory" class="form-control" name="subCategory"> </select>
					<div th:if="${#fields.hasErrors('item.subCategory')}" class="form-group has-error">
						<label class="control-label" for="prize"
							th:errors="${item.subCategory}" style="text-align: center!important">Input with error</label> 
						<select id="subCategory" class="form-control" name="subCategory"> </select>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="title" class="col-sm-2 control-label">Youtube video</label> 
				<div class="col-sm-10">
					<input type="text" class="form-control" id="ytAddress" min="0" name="ytAddress"
					placeholder="Youtube address" th:field="${item.youtubeVideo}" 
					pattern="^((http|https)\:\/\/)?(www\.)?(youtube\.com|youtu\.?be)\/.+$"/>
				</div>
			</div>
			<div class="form-group">
				<label for="principalImage" class="col-sm-2 control-label">Imagen principal</label>
				<div class="col-sm-5 col-lg-4">
					<input id="principalImage" type="file" class="file" data-show-upload="false" 
					name="mI" accept=".jpg, .jpeg"/>
				</div>
			</div>
			<div class="form-group">
				<label for="exampleInputFile" class="col-sm-2 control-label">Resto imágenes</label>
				<div class="col-sm-5 col-lg-4">
					<input id="more-img-1" type="file" class="file" data-show-upload="false" 
					name="i1" accept=".jpg, .jpeg"/>
				</div>
				<div class="col-sm-5 col-lg-4">
					<input id="more-img-2" type="file" class="file" data-show-upload="false" 
					name="i2" accept=".jpg, .jpeg"/>
				</div>
			</div>
<!-- 			<div class="form-group"> -->
<!-- 				<label for="exampleInputFile" class="col-sm-2 control-label">Resto imágenes</label> -->
<!-- 				<div class="col-sm-5 col-lg-4"> -->
<!-- 					<input id="more-img-2" type="file" class="file" data-show-upload="false"  -->
<!-- 					name="i2" accept=".jpg, .jpeg"/> -->
<!-- 				</div> -->
<!-- 			</div> -->
			<div class="form-group">
				<label for="exampleInputFile" class="col-sm-2 control-label">Resto imágenes</label>
				<div class="col-sm-5 col-lg-4">
					<input id="more-img-3" type="file" class="file" data-show-upload="false" 
					name="i3" accept=".jpg, .jpeg"/>
				</div>
			</div>
			<div><h3>Localización</h3><hr class="hrStyle2" /></div>
			<div class="bs-callout bs-callout-geo">
				<h4><strong>Geolocaliza</strong> tu anuncio</h4>
				<p style="width: 80%;">Indica donde se encuentra tu artículo, puedes hacer un click en un punto exacto,
				 marcar una zona determinada, o escribir en el campo de texto donde estará ubicado.
				 tu anuncio.</p>
				<p>Puedes estar tranquil@, ya que en tu anuncio siempre se <strong>mostrará en un área aproximada</strong>, 
				 nunca se proporcionará ninguna información específica o personal.</p>
				<p>De esta manera los usuarios de la web o aplicación móvil podrán <strong>acceder con más facilidad</strong> 
				a tu anuncio, además de otras muchas ventajas.</p>
<!-- 				<div> -->
<!-- 					<input type="hidden" id="latitude" name="lat" /> -->
<!-- 					<input type="hidden" id="longitude" name="lng" /> -->
<!-- 				</div> -->
			</div>
			<!-- geo -->
			<div class="row">
				<div class="col-xs-12 col-md-12">
					<div class="form-group">
						<label for="exampleInputEmail1">Mi anuncio estará en...</label> <input
							class="form-control" id="autocomplete" placeholder="Puedes hacer click en el mapa o escribirlo aquí..."
							type="text"> 
<!-- 							<input type="hidden" id="lat" name="lat" value="0" />  -->
<!-- 							<input type="hidden" id="lng" name="lng" value="0" /> -->
							<input type="hidden" id="lat" name="lat" th:field="${item.latitude}"/> 
							<input type="hidden" id="lng" name="lng" th:field="${item.longitude}"/>
					</div>
				</div>
			</div>
			<!-- maps -->
<!-- 			<div class="row"> -->
				<div id="map_canvas" style="width:100%; height:500px; display: block"></div>
<!-- 			</div> -->
			<div><h3>Opciones para tu anuncio</h3><hr class="hrStyle2" /></div>
			<div class="bs-callout bs-callout-info">
				<h4>¿Mostrar anuncio en la <strong>barra de patrocinados</strong>?</h4>
				<p>Tus anuncios se mostrarán en cualquier página, siendo exclusivos para su categoría. </p>
				<p>Obtendrás <strong>más visibilidad</strong> en la página y ganarás <strong>más visitas</strong>
				a tu anuncio.</p>
				<p><br/>Tiene un coste de 3 créditos.</p>
				<div th:switch="${user.points} &gt; 2">
					<div th:case="true">
						<div class ="pull-right has-success" style="margin-top:-70px;">
							<input type="checkbox" name="featured" data-on-text="Sí" data-off-text="No"
							data-on-color="success" data-off-color="warning"/>
						</div>
					</div>
					<div th:case="false">
						<br/>Lo sentimos, <strong>no tienes puntos suficientes,</strong>
						<a href="/site/pricing/points">pulsa aquí para hacerte con más.</a>
					</div>
				</div>
			</div>
			<div class="bs-callout bs-callout-success">
				<h4>¿<strong>Destacar</strong> tu anuncio en la <strong>lista de anuncios</strong>?</h4>
				<p>Tu anuncio aparecerá remarcado en la lista de anuncios.</p>
				<p><strong>Destacarás</strong> sobre el resto de anuncios.</p>
				<p><br/>Tiene un coste de 2 créditos</p>
				<div th:switch="${user.points} &gt; 1">
					<div th:case="true">
						<div class ="pull-right" style="margin-top:-70px;">
							<input type="checkbox" name="highlight" data-on-text="Sí" data-off-text="No"
							data-on-color="success" data-off-color="warning"/>
						</div>
					</div>
					<div th:case="false">
						<br/>Lo sentimos, <strong>no tienes puntos suficientes,</strong>
						<a href="/site/pricing/points">pulsa aquí para hacerte con más.</a>
					</div>
				</div>
			</div>
			<div class="bs-callout bs-callout-warning">
				<h4>¿<strong>Renovar automáticamente</strong> tu anuncio?</h4>
				<p>Tu anuncio estará activo durante <strong>30 días</strong>, así evitamos tener anuncios obsoletos. 
				Sin embargo, podrás renovarlos <strong>gratis</strong> manualmente, desde tu perfil de usuario. <br />
				Los anuncios renovados manualmente no aparecerán como un anuncio nuevo, los renovados de manera automática sí.</p>
				<p>Con esta opción tus anuncios se <strong>renovarán automáticamente</strong> y no tendrás que preocuparte por
				hacerlo tú mismo.</p>
				<p><br/>Tiene un coste de 3 créditos</p>
				<div th:switch="${user.points} &gt; 2">
					<div th:case="true">
						<div class ="pull-right has-success" style="margin-top:-70px;">
						<input type="checkbox" name="autoRenew" data-on-text="Sí" data-off-text="No"
						data-on-color="success" data-off-color="warning"/>
					</div>
					</div>
					<div th:case="false">
						<br/>Lo sentimos, <strong>no tienes puntos suficientes,</strong>
						<a href="/site/pricing/points">pulsa aquí para hacerte con más.</a>
					</div>
				</div>
			</div>
			<button type="submit" class="btn btn-success btn-lg btn-block" id="createButton" 
				disabled="disabled">Crear anuncio</button>
			<hr/>
		</form>
		
	</div>
	
        <script type="text/javascript">
            $('.textarea').wysihtml5({
            	"stylesheets": [], //CSS stylesheets to load
                "font-styles": true, //Font styling, e.g. h1, h2, etc. Default true
                "emphasis": true, //Italics, bold, etc. Default true
                "lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
                "html": true, //Button which allows you to edit the generated HTML. Default false
                "link": true, //Button to insert a link. Default true
                "image": true, //Button to insert an image. Default true,
                "color": true, //Button to change color of font
            });
        </script>
        
        <script type="text/javascript">
	        $("#more-img-1").fileinput({
	        	showCaption: true,
	        	showRemove: true,
	        	showUpload: false,
	        	maxFileSize: 3000,
	        	msgSizeTooLarge: "Sorry bro",
	        	removeLabel: "Borrar",
	        	browseLabel: "Buscar"
			});
	        
	        $("#more-img-2").fileinput({
	        	showCaption: true,
	        	showRemove: true,
	        	showUpload: false,
	        	maxFileSize: 3000,
	        	msgSizeTooLarge: "Sorry bro",
	        	removeLabel: "Borrar",
	        	browseLabel: "Buscar"
			});
	        
	        $("#more-img-3").fileinput({
	        	showCaption: true,
	        	showRemove: true,
	        	showUpload: false,
	        	maxFileSize: 3000,
	        	msgSizeTooLarge: "Sorry bro",
	        	removeLabel: "Borrar",
	        	browseLabel: "Buscar"
			});
	        
	        $("#principalImage").fileinput({
	        	maxFileSize: 3000,
	        	msgSizeTooLarge: "Sorry bro",
	        	removeLabel: "Borrar",
	        	browseLabel: "Buscar"
			});
        </script>

		<script th:inline="javascript">
		/*<![CDATA[*/
		var f = /*[[${item.featured}]]*/ false;
		var h = /*[[${item.highlight}]]*/ false;
		var a = /*[[${item.autoRenew}]]*/ false;
		/*]]>*/
		
		console.log("lalalala " + f + " " + h + " " + a);
		
		$("[name='featured']").bootstrapSwitch({
			state: f
		});
		
		$("[name='highlight']").bootstrapSwitch({
			state: h
		});

		$("[name='autoRenew']").bootstrapSwitch({
			state: a
		});
		 
// 		$("[name='geolocation']").on('switchChange.bootstrapSwitch', function(event, state) {
// 			console.log(state); // true | false
// 			if (state == true) {
// 				document.getElementById("map_canvas").style.display = 'block';
// 				initialize();
// 			} else {
// 				document.getElementById("map_canvas").style.display = 'none';
// 			}
// 		});

		var p = "http://www.elovendo.com/bazaar/";
		var suf = "getsubs/";
		$('#category').change( function() {
			var s = $(this).val();
			console.log('selected is ' + s);
			// clean dom
			var mn = document.getElementById('subCategory');
			while (mn.firstChild) mn.removeChild(mn.firstChild);
			$.getJSON(p+suf+s, function(json) {
				jQuery.each(json.output, function() {
					var o = document.createElement('option');
					o.value = this.id;
					o.innerHTML = this.name;
					$("#subCategory").append(o);
				})
			})
		});
        </script>
        
<!-- Google maps -->

	<script type="text/javascript"
		src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCQ-Utb1oduNieaf74WcrBdnwmVpPiJUFo&amp;sensor=TRUE&libraries=places">
		
	</script>
	<script type="text/javascript">
	
		$('.file-caption-name').bind("DOMSubtreeModified",function(){
			var s = this.innerHTML;
			this.innerHTML = s.substr(0, 20);
		});
// 		var map = new google.maps.LatLng(la, lo);
// 		getLocation();
// 		var loc;
// 		var marker;
// 		var map;
// 		var la = -34.397;
// 		var lo = 150.644;
		
// 		function initialize() {
// 			getLocation();
// 			var mapOptions = {
// 				center : new google.maps.LatLng(la, lo),
// 				zoom : 1,
// 				maxZoom: 18,
// 				streetViewControl: false,
// 				mapTypeId : google.maps.MapTypeId.ROADMAP
// 			};
// 			map = new google.maps.Map(
// 				document.getElementById("map_canvas"), mapOptions);

// 			// This event listener will call addMarker() when the map is clicked.
// 			google.maps.event.addListener(map, 'click', function(event) {
// 				marker.setMap(null);
// 				addMarker(event.latLng);
// 				document.getElementById("latitude").value = event.latLng.lat();
// 				document.getElementById("longitude").value = event.latLng.lng();
// 				document.getElementById('createButton').disabled = false;
// 			});
			
// 			// Add a marker to the map and push to the array.
// 			  function addMarker(location) {
// 			    marker = new google.maps.Marker({
// 			      position: location,
// 			      map: map
// 			    });
// // 			    markers.push(marker);
// 			  }
			
// 			// To add the marker to the map, use the 'map' property
// // 			var marker = new google.maps.Marker({
// // 				position: coorLang,
// // 				map: map,
// // 				title:"Localización"
// // 			});
// 			var marker = new google.maps.Marker();
// 		}
		
// 		function getLocation() {
// 			if (navigator.geolocation) {
// 				navigator.geolocation.getCurrentPosition(getPosition);
// 			}
// 		}
		
// 		function getPosition(position) {
// 			loc = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
// 			map.setCenter(loc);
// 			map.setZoom(13);
// 		}
	</script>

</body>
</html>