<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Añadir anuncio</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<!-- Form -->
<!-- <link rel="stylesheet" -->
<!-- 	href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css" /> -->

<!-- Button style -->
<link href="/css/buttonStyle.css" media="all" rel="stylesheet" type="text/css" />
<!-- Web style -->
<link href="/css/styleweb.css" media="all" rel="stylesheet" type="text/css" />

<!-- ************************* -->
<!-- ******* Bootstrap ******* -->
<!-- ************************* -->

<!-- Javascript -->
<script src="/js/jquery-1.11.1.min.js"></script>
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script> -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<!-- Bootstrap extra (bs-callout) -->
<link href="/css/bootstrap-extra.css" media="all" rel="stylesheet" type="text/css" />

<!-- File input -->
<link href="/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
<script src="/js/fileinput.min.js" type="text/javascript"></script>

<!-- Checkbox -->
<link href="/css/checkbox-x.min.css" media="all" rel="stylesheet" type="text/css" />
<script src="/js/checkbox-x.min.js" type="text/javascript"></script>

<!-- Switch -->
<link href="/css/bootstrap-switch.css" rel="stylesheet"/>
<script src="/js/bootstrap-switch.js"></script>

<!-- Markdown text -->
<script src="/js/richtext/wysihtml5-0.3.0.min.js"></script> <!-- Library -->
<script src="/js/richtext/advanced.js"></script> <!-- wysihtml5 parser rules -->
<script src="/js/richtext/bootstrap-wysihtml5.js"></script> <!-- wysihtml5 parser rules -->
<link href="/css/bootstrap-wysihtml5.css" media="all" rel="stylesheet" type="text/css" />

<!-- <script src="/js/initAddItemPage.js"></script> Library -->

<!-- Bootstrap switch -->
<!-- <link href="/css/bootstrap-switch.css" rel="stylesheet"/> -->
<!-- <script src="/js/bootstrap-switch.js"></script> -->

</head>

<body>

	<noscript>&lt;div class="alert alert-danger"&gt;You must
		enable Javascript on your browser for the site to work optimally and
		display sections completely.&lt;/div&gt;</noscript>

	<!-- Header -->
<!-- 	<div th:replace="/elovendo/header :: elovendo-header"></div>-->
<!-- 	<div th:include="/elovendo/header :: elovendo-header"></div> -->
	<div th:replace="elovendo/header"></div>

	<div class="row">
		<div class="col-xs-12 col-md-12 text-center" style="margin-bottom:20px;">
			<h1>Crea tu anuncio</h1>
			<hr class="colorgraph"/>
		</div>
	</div>

	<div class="container">
		<form class="form-horizontal" role="form" th:action="@{/site/items/item}" method="post" enctype="multipart/form-data" >
			<div class="form-group">
				<label for="title" class="col-sm-2 control-label">Title</label> 
				<div class="col-sm-10">
					<input type="text" class="form-control" id="title"
					placeholder="Enter title" th:field="${item.title}" required=""/>
				</div>
			</div>
			<div class="form-group">
				<div class="hero-unit" >
					<label for="title" class="col-sm-2 control-label" style="margin-top:40px;">Description</label> 
					<div class="col-sm-10">
						<!-- FIXME -->
						<!-- Pasting formatted HTML when creating item makes show formatted everywhere -->
						<!-- it's important make sure pasting DOES AS TEXT/PLAIN -->
						<textarea id="textarea" class="form-control textarea" rows="15" th:field="${item.description}" 
						required="required" placeholder="Descripción..."></textarea>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="title" class="col-sm-2 control-label">Prize</label> 
				<div class="col-sm-10">
					<input type="number" class="form-control" id="prize" min="0"
					placeholder="Enter prize" th:field="${item.prize}" required="required"/>
				</div>
			</div>
			<div class="form-group">
				<label for="province" class="col-sm-2 control-label">Provincia</label>
				<div class="col-sm-10">
					<select class="form-control" th:value="${provinceName}" name="provinceName">
					  <option th:each="province : ${provinces}" 
					          th:value="${province.provinceName}" 
					          th:text="${province.provinceName}">Province</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="category" class="col-sm-2 control-label">Categoría</label>
				<div class="col-sm-10">
					<select class="form-control" th:value="${categoryName}" name="categoryName">
					  <option th:each="category : ${categories}" 
					          th:value="${category.categoryName}" 
					          th:text="${category.categoryName}">Category</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="subCategory" class="col-sm-2 control-label">SubCategoría</label>
				<div class="col-sm-10">
					<select class="form-control" th:value="${subCategoryName}" name="subCategoryName">
					  <option th:each="subCategory : ${subCategories}" 
					          th:value="${subCategory.subCategoryName}" 
					          th:text="${subCategory.subCategoryName}">Province</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="principalImage" class="col-sm-2 control-label">Imagen principal</label>
				<div class="col-sm-10">
					<input id="principalImage" type="file" class="file" data-show-upload="false" 
					name="image1" accept=".jpg, .jpeg"/>
				</div>
			</div>
			<div class="form-group">
				<label for="exampleInputFile" class="col-sm-2 control-label">Resto imágenes</label>
				<div class="col-sm-10">
					<input id="more-img" type="file" multiple="true" data-show-upload="false" class="file"/>
				</div>
			</div>
			<div><hr/><h3>Opciones para tu anuncio</h3></div>
			<div class="bs-callout bs-callout-info">
				<h4>¿Mostrar anuncio en la <strong>barra de patrocinados</strong>?</h4>
				<p>Tus anuncios se mostrarán en cualquier página, siendo exclusivos para su categoría. </p>
				<p>Obtendrás <strong>más visibilidad</strong> en la página y ganarás <strong>más visitas</strong>
				a tu anuncio.</p>
				<p>Tiene un coste de 0 créditos</p>
				<div class ="pull-right has-success" style="margin-top:-70px;">
<!-- 					<input type="checkbox" name="featured" id="featuredCheck" data-toggle="checkbox-x"  -->
<!-- 					value="0" data-three-state="false" data-size="xl"/> -->
					<input type="checkbox" name="featured" data-on-text="Sí" data-off-text="No"
					data-on-color="success" data-off-color="warning"/>
				</div>
			</div>
			<div class="bs-callout bs-callout-success">
				<h4>¿<strong>Destacar</strong> tu anuncio en la <strong>lista de anuncios</strong>?</h4>
				<p>Tu anuncio aparecerá remarcado en la lista de anuncios.</p>
				<p><strong>Destacarás</strong> sobre el resto de anuncios.</p>
				<p>Tiene un coste de 0 créditos</p>
				<div class ="pull-right" style="margin-top:-70px;">
					<input type="checkbox" name="highlight" data-on-text="Sí" data-off-text="No"
					data-on-color="success" data-off-color="warning"/>
				</div>
			</div>
			<div class="bs-callout bs-callout-warning">
				<h4>¿<strong>Renovar automáticamente</strong> tu anuncio?</h4>
				<p>Los anuncios tienen una duración de <strong>30 días</strong>, así evitamos tener anuncios obsoletos. 
				Sin embargo, puedes volver a activarlos manualmente.</p>
				<p>Con esta opción tus anuncios se <strong>renovarán automáticamente</strong> y no tendrás que preocuparte por
				hacerlo tú mismo.</p>
				<p>Tiene un coste de 0 créditos</p>
				<div class ="pull-right has-success" style="margin-top:-70px;">
					<input type="checkbox" name="autoRenew" data-on-text="Sí" data-off-text="No"
					data-on-color="success" data-off-color="warning"/>
				</div>
			</div>
			<button type="submit" class="btn btn-success btn-lg btn-block">Crear anuncio</button>
			<hr/>
		</form>
	</div>
	
        <script type="text/javascript">
            $('.textarea').wysihtml5({
            	"stylesheets": [], //CSS stylesheets to load
                "font-styles": true, //Font styling, e.g. h1, h2, etc. Default true
                "emphasis": true, //Italics, bold, etc. Default true
                "lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
                "html": true, //Button which allows you to edit the generated HTML. Default false
                "link": true, //Button to insert a link. Default true
                "image": true, //Button to insert an image. Default true,
                "color": true, //Button to change color of font
            });
        </script>
        
        <script type="text/javascript">
	        $("#more-img").fileinput({
	        	maxFileSize: 3000
			});
	        
	        $("#principalImage").fileinput({
	        	maxFileSize: 3000
			});
        </script>

		 <script type="text/javascript">
		 $("[name='featured']").bootstrapSwitch({
			 checked: false
		 });
		 
		 $("[name='highlight']").bootstrapSwitch({
			 checked: false
		 });
		 
		 $("[name='autoRenew']").bootstrapSwitch({
			 checked: false
		 });
        </script>
        

</body>
</html>