<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Item created</title>
<link rel="stylesheet" type="text/css" href="/css/headerStyle.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/css/styleweb.css"/>
</head>
<body>

	<!-- Header -->
	<div th:replace="elovendo/header"></div>
	
	<div class="alert alert-success" role="alert">
  		<a href="#" class="alert-link">Item created successfully! Hurray!</a>
	</div>
	
	<!-- Footer -->
	<div th:replace="elovendo/footer"></div>
	
</body>
</html>