<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<!-- Header -->
	<div th:replace="elovendo/header"></div>

	<div th:replace="elovendo/admin/sidebar"></div>
	
	<!-- Footer -->
	<div th:replace="elovendo/footer"></div>

</body>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/css/elog.css"/>
</html>