<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<!-- <title>Elovendo </title> -->
<link rel="stylesheet" type="text/css" href="/css/styleweb.css"
	media="screen" />
<!-- <meta charset="utf-8" /> -->
<!-- <meta name="description" content="Elovendo" /> -->
</head>
<body>
	<div id="header-outer">
		<div id="top">
			<a href="/elovendo/index">
				<img class="banner-logo" src="/images/webimg/logonfull-123h.png" /> 
			</a>
			<a href="/elovendo/add_item.html" class="sellButton" th:text="#{sell.button}">Sell</a>
		</div>
	</div>
</body>
</html>