<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<!-- <title>Elovendo </title> -->

<!-- Javascript -->
<!-- <script src="/js/jquery-1.11.0.min.js"></script> -->
<!-- Latest compiled and minified CSS -->
<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/> -->
<!-- Latest compiled and minified JavaScript -->
<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->

<!-- Styles -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/headerStyle.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/css/styleWeb.css" media="screen" />

<!-- Header handler -->
<script src="/js/headerHandler.js"></script>

<!-- <meta charset="utf-8" /> -->
<!-- <meta name="description" content="Elovendo" /> -->
</head>
	<body>
<!-- 		<div id="header-outer"> -->
<!-- 			<div id="top"> -->
<!-- 				<a href="/elovendo/index"> -->
<!-- 					<img class="banner-logo" src="/images/webimg/logonfull-123h.png" />  -->
<!-- 				</a> -->
<!-- 				Sell button -->
<!-- 				<a href="/elovendo/add_item.html"> -->
<!-- 					<button type="button" class="btn btn-info" th:text="#{sell.button}">Sell</button> -->
<!-- 				</a> -->
<!-- 			</div> -->
<!-- 		</div> -->
	
<!-- FAQ -->
<!-- http://www.thymeleaf.org/doc/usingthymeleaf.html#referencing-fragments-without-thfragment -->

	<!-- Bootstrap nav bar -->
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
<!-- 				<a class="navbar-brand" href="#">Brand</a> -->
				<a href="/elovendo/index">
					<img class="banner-logo" src="/images/webimg/logo-full-50h.png" style="padding:5px;"/> 
				</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<form class="navbar-form navbar-left" role="search" method="GET" action="/bazaar/search" name="search">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="¿Qué quieres buscar?" required=""
							id="srch-term" name="title"/>
						<div class="input-group-btn">
							<button class="btn btn-default" type="submit">
								<i class="glyphicon glyphicon-search"></i>
							</button>
						</div>
					</div>
				</form>
				<div class="nav navbar-nav navbar-right">

<!-- 					<div class="btn-group nav navbar-nav"> -->
<!-- 						<button type="button" class="navbar-btn btn btn-info dropdown-toggle" -->
<!-- 							data-toggle="dropdown" style="margin-right:10px;"> -->
<!-- 							Iniciar sesión <span class="caret"></span> -->
<!-- 						</button> -->
<!-- 						<div class="dropdown-menu"> -->
<!-- 							<div class="col-sm-12"> -->
<!-- 								<div class="col-sm-12 text-center"><h3>INICIAR SESIÓN</h3></div> -->
<!-- 								<div class="col-sm-12"> -->
<!-- 									<input type="text" placeholder="Nombre de usuario" -->
<!-- 										onclick="return false;" class="form-control input-md" -->
<!-- 										id="inputError" /> -->
<!-- 								</div> -->
<!-- 								<br /> -->
<!-- 								<div class="col-sm-12"> -->
<!-- 									<input type="password" placeholder="Contraseña" -->
<!-- 										class="form-control input-md" name="password" id="Password1" /> -->
<!-- 								</div> -->
<!-- 								<div class="col-sm-12"> -->
<!-- 									<button type="submit" class="btn btn-success btn-md web-top-margin">Sign -->
<!-- 										in</button> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 					</div> -->

					<div class="btn-group nav navbar-nav" th:switch="${#httpServletRequest.remoteUser}" >
						<p th:case="null" class="navbar-text"> 
						Bienvenido,
						<a  href="/login">
<!-- 							<button type="button" class="navbar-btn btn btn-info" style="margin-right: 20px;"> -->
<!-- 								Iniciar sesión -->
<!-- 							</button> -->
							inicia sesión
						</a> o <a  href="/site/register"> regístrate</a>  
						</p>
						<div th:case="*" class="navbar-right dropdown">
							<p class="navbar-text">
							Bienvenido,  
								<a class="dropdown-toggle" data-toggle="dropdown" th:text="${#httpServletRequest.remoteUser}">
								user <span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
							</p>
						</div>
					</div>

					<ul class="nav navbar-nav">
	<!-- 					<li class="active"><a href="#"> Tienes <span -->
	<!-- 							class="badge">99</span> créditos -->
						<li>
							<p th:switch="${#httpServletRequest.remoteUser}" class="navbar-btn">
								<a th:case="null" href="/login" class="btn btn-info"
								th:text="#{sell.button}">  Sell </a>
								<a th:case="*" href="/elovendo/add_item.html" class="btn btn-info"
								th:text="#{sell.button}">  Sell </a>
							</p>
						</li>
					</ul>
				</div>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
</body>
</html>

<!-- <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">Mark Otto</a></p> -->

<!-- <div class="btn-group"> -->
<!-- 	<button type="button" class="btn btn-success dropdown-toggle" -->
<!-- 		data-toggle="dropdown"> Login <span class="caret"></span> -->
<!-- 	</button> -->
<!-- 	<div class="dropdown-menu"> -->
<!-- 		<div class="col-sm-12"> -->
<!-- 			<div class="col-sm-12">Login</div> -->
<!-- 			<div class="col-sm-12"> -->
<!-- 				<input type="text" placeholder="Uname or Email" onclick="return false;"  -->
<!-- 				class="form-control input-sm" id="inputError" /> -->
<!-- 			</div> -->
<!-- 			<br /> -->
<!-- 			<div class="col-sm-12"> -->
<!-- 				<input type="password" placeholder="Password" -->
<!-- 					class="form-control input-sm" name="password" id="Password1" /> -->
<!-- 			</div> -->
<!-- 			<div class="col-sm-12"> -->
<!-- 				<button type="submit" class="btn btn-success btn-sm">Sign -->
<!-- 					in</button> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</div> -->
<!-- </div> -->