<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Elovendo</title>
<link rel="stylesheet" type="text/css" href="/css/styleweb.css"/>
<meta charset="utf-8" />
<meta name="description" content="Elovendo" />
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine|Inconsolata|Droid+Sans|Helvetica" />
<!-- <script src="/resources/js/toggle-login.js"></script> -->

<!-- ************************* -->
<!-- ******* Bootstrap ******* -->
<!-- ************************* -->

<!-- Javascript -->
<script src="/js/jquery-1.11.0.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<!-- Styles -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/headerStyle.css" media="screen" />

</head>
<body style="background-color:#FBFAF9;">
<!-- <body> -->
	<!-- Header -->
	<div th:include="elovendo/header"></div>

<!-- 	<div class="container-fluid"> -->
		<div class="container">

		<!-- 			<form class="form-wrapper cf" method="GET" action="/bazaar/search" name="search"> -->
		<!-- 				<input type="text" name="title" placeholder="¿Qué quieres buscar?" required=""/> -->
		<!-- 				<button type="submit">Buscar</button> -->
		<!-- 			</form> -->
		
		<div class="row">
			<div class="col-xs-12 col-md-12 text-center" style="margin-bottom:20px; height:200px;">
				<img src="/images/webimg/logotrans.png" style="width:200px; height:auto;"/>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-12 col-md-12 text-center" style="margin-bottom:20px;">
				<div class='search-box' style="margin-bottom:20px;">
						<form class="col-lg-12" role="search" method="GET" action="/bazaar/search" name="search">
							<div class="input-group">
								<input type="text" class="form-control input-lg" placeholder="¿Qué quieres buscar?" required=""
									id="srch-term" name="title"/>
								<div class="input-group-btn">
									<select id="categorySelect" class="btn btn-default input-lg" style="background-color:#FFF;">
										<option th:each="subCategory : ${subCategories}" 
										th:value="${subCategory.subCategoryName}" th:text="${subCategory.subCategoryName}"> 
										SubCategory </option>
									</select>
									<button class="btn btn-default input-lg" type="submit">
										<i class="glyphicon glyphicon-search"></i>
									</button>
								</div>
							</div>
						</form>
					</div>
			</div>
		</div>
<!-- 					<div class='search-box' style="margin-bottom:20px;"> -->
<!-- 						<form class="col-lg-12" role="search" method="GET" action="/bazaar/search" name="search"> -->
<!-- 							<div class="input-group"> -->
<!-- 								<input type="text" class="form-control input-lg" placeholder="¿Qué quieres buscar?" required="" -->
<!-- 									id="srch-term" name="title"/> -->
<!-- 								<div class="input-group-btn"> -->
<!-- 									<button class="btn btn-default input-lg" type="submit"> -->
<!-- 										<i class="glyphicon glyphicon-search"></i> -->
<!-- 									</button> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 						</form> -->
<!-- 					</div> -->

	<!-- MENU DE PRINCIPAL -->
		<div class="row">
			<!-- Featured -->
			<div class="col-xs-4 col-md-4">
				<!-- title -->
				<div class="row">
					<div class="col-xs-12 col-md-12 text-center" style="margin-bottom:20px;">
						<h1>Patrocinados</h1><hr/>
					</div>
				</div>
				<div class="row" th:each="item : ${featuredItems}">
					<div class="col-xs-12 col-md-12">
						<div class="featuredSection">
							<div class="thumbnail">
								<a th:href="@{'/bazaar/item/' + ${item.itemId}}">
									<img data-src="holder.js/300x300" alt="..." 
									th:src="@{'http://83.165.60.132:8080/' + ${item.imgHome}}"/>
								</a>
								<div class="caption">
									<h3 th:text="${item.title}">Title</h3>
									<p th:text="${item.description}">Description</p>
									<p>
										<a href="#" class="btn btn-default" role="button">Ver anuncio</a>
										<a href="#" class="btn btn-primary" role="button">Enviar mensaje</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Categories -->
			<div class="col-xs-8 col-md-8">
				<!-- title -->
				<div class="row">
					<div class="col-xs-12 col-md-12 text-center" style="margin-bottom:20px;">
						<h1>Categorías</h1><hr/>
					</div>
				</div>
				<div class="row">
<!-- 						<div class="col-xs-6 col-md-6"> -->
<!-- 							<a href="/bazaar/category/tecnologia" class="thumbnail">  -->
<!-- 							<img src="/images/categories/technology.jpg" data-src="holder.js/100%x150" /> -->
<!-- 							</a> -->
<!-- 						</div> -->
					<div class="col-xs-6 col-md-6">
            			<a href="/bazaar/category/tecnologia" class="thumbnail" style="text-decoration: none;">
            				<img src="/images/categories/technology.jpg" data-src="holder.js/100%x150" />
            				<div class="caption post-content">
                				<h3 >Tecnología</h3> 
        					</div>
						</a>
					</div>
					<div class="col-xs-6 col-md-6">
						<a href="/bazaar/category/tecnologia" class="thumbnail" style="text-decoration: none;">
							<img src="/images/categories/sport.jpg" data-src="holder.js/100%x150" />
							<div class="caption post-content">
								<h3 >Deportes</h3> 
							</div>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-md-6">
						<a href="/bazaar/category/tecnologia" class="thumbnail" style="text-decoration: none;">
							<img src="/images/categories/house.jpg" data-src="holder.js/100%x150" />
							<div class="caption post-content">
								<h3 >Hogar</h3> 
							</div>
						</a>
					</div>
					<div class="col-xs-6 col-md-6">
						<a href="/bazaar/category/tecnologia" class="thumbnail" style="text-decoration: none;">
							<img src="/images/categories/car.jpg" data-src="holder.js/100%x150" />
							<div class="caption post-content">
								<h3 >Motor</h3> 
							</div>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-md-6">
						<a href="/bazaar/category/tecnologia" class="thumbnail" style="text-decoration: none;">
							<img src="/images/categories/puppy.jpg" data-src="holder.js/100%x150" />
							<div class="caption post-content">
								<h3 >Mascotas</h3> 
							</div>
						</a>
					</div>
					<div class="col-xs-6 col-md-6">
						<a href="/bazaar/category/tecnologia" class="thumbnail" style="text-decoration: none;">
							<img src="/images/categories/book.jpg" data-src="holder.js/100%x150" />
							<div class="caption post-content">
								<h3 >Libros</h3> 
							</div>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-md-6">
						<a href="/bazaar/category/tecnologia" class="thumbnail" style="text-decoration: none;">
							<img src="/images/categories/fashion.jpg" data-src="holder.js/100%x150" />
							<div class="caption post-content">
								<h3 >Moda</h3> 
							</div>
						</a>
					</div>
					<div class="col-xs-6 col-md-6">
						<a href="/bazaar/category/tecnologia" class="thumbnail" style="text-decoration: none;">
							<img src="/images/categories/jewelry.jpg" data-src="holder.js/100%x150" />
							<div class="caption post-content">
								<h3 >Joyas</h3> 
							</div>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-md-6">
						<a href="/bazaar/category/tecnologia" class="thumbnail" style="text-decoration: none;">
							<img src="/images/categories/toy.jpg" data-src="holder.js/100%x150" />
							<div class="caption post-content">
								<h3 >Juguetes</h3> 
							</div>
						</a>
					</div>
					<div class="col-xs-6 col-md-6">
						<a href="/bazaar/category/tecnologia" class="thumbnail" style="text-decoration: none;">
							<img src="/images/categories/music.jpg" data-src="holder.js/100%x150" />
							<div class="caption post-content">
								<h3 >Música</h3> 
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- FIN -->

<!-- 		<div id="featured"> -->
<!-- 			<p class ="featuredTitle"> Patrocinados </p> -->
<!-- 			<div id="featuredSection"> -->
<!-- 				<a href="#"> <img class="featuredImage" -->
<!-- 					src="/images/categories/technology.jpg" />  -->
<!-- 					<span class="featuredTitle">PS4 Nueva</span> -->
<!-- 				</a> -->
<!-- 			</div> -->
<!-- 			<div id="featuredSection"> -->
<!-- 				<a href="#"> <img class="featuredImage" -->
<!-- 					src="/images/categories/technology.jpg" />  -->
<!-- 					<span class="featuredTitle">PS4 Nueva</span> -->
<!-- 				</a> -->
<!-- 			</div> -->
<!-- 		</div> -->

	</div>
	
<!-- 	<div id="prebot"></div> -->
<!-- 	<div id="bot"></div> -->
</body>
</html>