<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Elovendo</title>
<link rel="stylesheet" type="text/css" href="/css/styleweb.css"
	media="screen" />
<meta charset="utf-8" />
<meta name="description" content="Elovendo" />
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine|Inconsolata|Droid+Sans|Helvetica" />
<!-- <script src="/resources/js/toggle-login.js"></script> -->
</head>
<body>
	<!-- Header -->
	<div th:replace="elovendo/header"></div>

	<div id="content">

		<div id='search-box'>
<!-- 			<form id='search-form' method="GET" action="search" name="search"> -->
<!-- 				<input id='search-text' name='title' -->
<!-- 					placeholder='¿Qué quieres buscar?' type='text' /> -->
<!-- 				<button id='search-button' type='submit'> -->
<!-- 					<span>Buscar</span> -->
<!-- 				</button> -->
<!-- 			</form> -->
			<form class="form-wrapper cf" method="GET" action="search" name="search">
				<input type="text" name="title" placeholder="¿Qué quieres buscar?" required=""/>
				<button type="submit">Buscar</button>
			</form>
		</div>
		<!-- MENU DE CATEGORIAS -->
		<div id="categories">
			<div id="category">
				<a href="/bazaar/category/tecnologia">
					<img class="imageSection" src="/images/categories/technology.jpg" />
					<span id="titlesection">Tecnología</span>
				</a>
			</div>
			<div id="category">
				<a href="#">
					<img class="imageSection" src="/images/categories/sport.jpg" />
					<span id="titlesection">Deportes</span>
				</a>
			</div> 
			<div id="category">
				<a href="#">
					<img class="imageSection" src="/images/categories/house.jpg" />
					<span id="titlesection">Hogar</span>
				</a> 
			</div>
			<div id="category">
				<a href="#">
					<img class="imageSection" src="/images/categories/car.jpg" />
					<span id="titlesection">Coches</span>
				</a>
			</div> 
			<div id="category">
				<a href="#">
					<img class="imageSection" src="/images/categories/puppy.jpg" />
					<span id="titlesection">Mascotas</span>
				</a>
			</div> 
			<div id="category">
				<a href="#">
					<img class="imageSection" src="/images/categories/book.jpg" />
					<span id="titlesection">Libros</span>
				</a>
			</div>
			<div id="category">
				<a href="#">
					<img class="imageSection" src="/images/categories/fashion.jpg" />
					<span id="titlesection">Moda</span>
				</a>
			</div>
			<div id="category">
				<a href="#">
					<img class="imageSection" src="/images/categories/jewelry.jpg" />
					<span id="titlesection">Joyería</span>
				</a>
			</div>
			<div id="category">
				<a href="#">
					<img class="imageSection" src="/images/categories/toy.jpg" />
					<span id="titlesection">Niños</span>
				</a>
			</div> 
			<div id="category">
				<a href="#">
					<img class="imageSection" src="/images/categories/music.jpg" />
					<span id="titlesection">Música</span>
				</a>
			</div>
		</div>
		<!-- FIN MENU DE CATEGORIAS -->

		<div id="featured">
			<p class ="featuredTitle"> Patrocinados </p>
			<div id="featuredSection">
				<a href="#"> <img class="featuredImage"
					src="/images/categories/technology.jpg" /> 
					<span class="featuredTitle">PS4 Nueva</span>
				</a>
			</div>
			<div id="featuredSection">
				<a href="#"> <img class="featuredImage"
					src="/images/categories/technology.jpg" /> 
					<span class="featuredTitle">PS4 Nueva</span>
				</a>
			</div>
		</div>

	</div>
	
<!-- 	<div id="prebot"></div> -->
<!-- 	<div id="bot"></div> -->
</body>
</html>