<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

<title>Insert title here</title>
</head>

<body>

	Table?
										<table>
										<tr th:each="item : ${items}">
										        <td th:text="${item.itemId}">-1</td>
										        <td th:text="${item.title}">Item title</td>
										        <td th:text="${item.user.login}">login</td>
										      </tr>
										      </table>

</body>
</html>