<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<meta charset="utf-8" />
<title>Entrar en elovendo</title>
<meta name="description" content=" elovendo login" />
<meta name="author" content="elovendo" />

<link rel="stylesheet"
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
<link
	href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
	type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/styleweb.css"
	media="screen" />
<link rel="stylesheet" type="text/css" href="/css/bootstrap-social.css"
	media="screen" />
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery-1.11.1.min.js"></script>

</head>

<body>

	<!-- Header -->
	<div th:replace="elovendo/header"></div>

	<div class="container">

		<div class="row">
			<div class="col-xs-12 col-md-12 text-center"
				style="margin-top: 20px; height: 200px;">
				<a href="/index"><img src="/images/webimg/logo-full-200h.png" />
				</a>
			</div>
		</div>

		<div th:if="${param.error}" class="alert alert-danger text-center"
			role="alert" style="margin: 40px auto 0px auto; max-width: 330px;">
			<p>
				<strong>User name or password incorrect</strong>
			</p>
		</div>

		<form class="form-signin" role="form" th:action="@{/login}"
			method="post" accept-charset="UTF-8">
			<h2 class="form-signin-heading" style="color: #563D7C">Inicia
				sesión</h2>
			<hr class="colorgraph" />
			<input type="text" class="form-control" placeholder="Email"
				required="required" autofocus="autofocus" name="username" /> <input
				type="password" class="form-control" placeholder="Password"
				required="required" name="password" /> <input type="hidden"
				name="${_csrf.parameterName}" value="${_csrf.token}" />
			<div class="checkbox">
				<label> <input type="checkbox" value="remember-me" />
					Remember me
				</label>
			</div>
			<button class="btn btn-lg btn-success btn-block" type="submit">Sign
				in</button>

			<hr class="colorgraph" />

			<a th:href="@{/auth/facebook(scope='email')}"
				class="btn btn-lg btn-block btn-social btn-facebook"> <i
				class="fa fa-facebook"></i> Facebook login
			</a>
			<!-- 			<a th:href="@{/auth/twitter}" -->
			<!-- 				class="btn btn-block">  -->
			<!-- 				<i class="fa fa-twitter"></i> Twitter -->
			<!-- 			</a>  -->
			<a th:href="@{/auth/google(scope='email')}"
				class="btn btn-lg btn-block btn-social btn-google-plus"> <i
				class="fa fa-google"></i> Google login
			</a>
		</form>

	</div>
	<!-- Footer -->
	<div th:replace="elovendo/footer"></div>

</body>

</html>
