<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Elovendo</title>
<link rel="stylesheet" type="text/css" href="/css/styleweb.css"/>
<meta charset="utf-8" />
<meta name="description" content="Elovendo" />
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine|Inconsolata|Droid+Sans|Helvetica" />
<!-- <script src="/resources/js/toggle-login.js"></script> -->

<!-- ************************* -->
<!-- ******* Bootstrap ******* -->
<!-- ************************* -->

<!-- Javascript -->
<script src="/js/jquery-1.11.0.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<!-- Styles -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/headerStyle.css" media="screen" />

</head>
<body>
	<!-- Header -->
	<div th:replace="elovendo/header"></div>

<!-- 	<div class="container-fluid"> -->
		<div class="container">

		<div class='search-box'>
		<!-- 			<form class="form-wrapper cf" method="GET" action="/bazaar/search" name="search"> -->
		<!-- 				<input type="text" name="title" placeholder="¿Qué quieres buscar?" required=""/> -->
		<!-- 				<button type="submit">Buscar</button> -->
		<!-- 			</form> -->
					<div class='search-box'>
						<form class="col-lg-12" role="search" method="GET" action="/bazaar/search" name="search">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="¿Qué quieres buscar?" required=""
									id="srch-term" name="title"/>
								<div class="input-group-btn">
									<button class="btn btn-default" type="submit">
										<i class="glyphicon glyphicon-search"></i>
									</button>
								</div>
							</div>
						</form>
					</div>
		</div>
		
<!-- 			<div id="category"> -->
<!-- 				<a href="/bazaar/category/tecnologia"> -->
<!-- 					<img class="imageSection" src="/images/categories/technology.jpg" /> -->
<!-- 					<span id="titlesection">Tecnología</span> -->
<!-- 				</a> -->
<!-- 			</div> -->

	<!-- MENU DE PRINCIPAL -->
		<div class="row">
		
			<!-- Featured -->
			<div class="col-xs-4 col-md-4">
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<div class="featuredSection">
							<div class="thumbnail">
								<a href="/bazaar/category/tecnologia">
									<img data-src="holder.js/300x300" alt="..." src="/images/categories/technology.jpg"/>
								</a>
								<div class="caption">
									<h3>PS4</h3>
									<p>Descripción del anuncio blablbalabblablalabalbalsafsdfsdsdffssdfdsfsdfdsf</p>
									<p>
										<a href="#" class="btn btn-default" role="button">Ver anuncio</a>
										<a href="#" class="btn btn-primary" role="button">Enviar mensaje</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<div class="featuredSection">
							<div class="thumbnail">
								<a href="/bazaar/category/tecnologia">
									<img data-src="holder.js/300x300" alt="..." src="/images/categories/technology.jpg"/>
								</a>
								<div class="caption">
									<h3>PS4</h3>
									<p>Descripción del anuncio blablbalabblablalabalbalsafsdfsdsdffssdfdsfsdfdsf</p>
									<p>
										<a href="#" class="btn btn-default" role="button">Ver anuncio</a>
										<a href="#" class="btn btn-primary" role="button">Enviar mensaje</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<div class="featuredSection">
							<div class="thumbnail">
								<a href="/bazaar/category/tecnologia">
									<img data-src="holder.js/300x300" alt="..." src="/images/categories/technology.jpg"/>
								</a>
								<div class="caption">
									<h3>PS4</h3>
									<p>Descripción del anuncio blablbalabblablalabalbalsafsdfsdsdffssdfdsfsdfdsf</p>
									<p>
										<a href="#" class="btn btn-default" role="button">Ver anuncio</a>
										<a href="#" class="btn btn-primary" role="button">Enviar mensaje</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<div class="featuredSection">
							<div class="thumbnail">
								<a href="/bazaar/category/tecnologia">
									<img data-src="holder.js/300x300" alt="..." src="/images/categories/technology.jpg"/>
								</a>
								<div class="caption">
									<h3>PS4</h3>
									<p>Descripción del anuncio blablbalabblablalabalbalsafsdfsdsdffssdfdsfsdfdsf</p>
									<p>
										<a href="#" class="btn btn-default" role="button">Ver anuncio</a>
										<a href="#" class="btn btn-primary" role="button">Enviar mensaje</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Categories -->
			<div class="col-xs-8 col-md-8">
				<div class="row">
						<div class="col-xs-6 col-md-6">
							<a href="/bazaar/category/tecnologia" class="thumbnail"> 
							<img src="/images/categories/technology.jpg" data-src="holder.js/100%x150" />
							</a>
						</div>
						<div class="col-xs-6 col-md-6">
							<a href="/bazaar/category/tecnologia" class="thumbnail"> 
							<img src="/images/categories/sport.jpg" data-src="holder.js/100%x150" />
							</a>
						</div>
				</div>
				<div class="row">
						<div class="col-xs-6 col-md-6">
							<a href="/bazaar/category/tecnologia" class="thumbnail"> 
							<img src="/images/categories/house.jpg" data-src="holder.js/100%x150" />
							</a>
						</div>
						<div class="col-xs-6 col-md-6">
							<a href="/bazaar/category/tecnologia" class="thumbnail"> 
							<img src="/images/categories/car.jpg" data-src="holder.js/100%x150" />
							</a>
						</div>
				</div>
				<div class="row">
						<div class="col-xs-6 col-md-6">
							<a href="/bazaar/category/tecnologia" class="thumbnail"> 
							<img src="/images/categories/puppy.jpg" data-src="holder.js/100%x150" />
							</a>
						</div>
						<div class="col-xs-6 col-md-6">
							<a href="/bazaar/category/tecnologia" class="thumbnail"> 
							<img src="/images/categories/book.jpg" data-src="holder.js/100%x150" />
							</a>
						</div>
				</div>
				<div class="row">
						<div class="col-xs-6 col-md-6">
							<a href="/bazaar/category/tecnologia" class="thumbnail"> 
							<img src="/images/categories/fashion.jpg" data-src="holder.js/100%x150" />
							</a>
						</div>
						<div class="col-xs-6 col-md-6">
							<a href="/bazaar/category/tecnologia" class="thumbnail"> 
							<img src="/images/categories/jewelry.jpg" data-src="holder.js/100%x150" />
							</a>
						</div>
				</div>
				<div class="row">
						<div class="col-xs-6 col-md-6">
							<a href="/bazaar/category/tecnologia" class="thumbnail"> 
							<img src="/images/categories/toy.jpg" data-src="holder.js/100%x150" />
							</a>
						</div>
						<div class="col-xs-6 col-md-6">
							<a href="/bazaar/category/tecnologia" class="thumbnail"> 
							<img src="/images/categories/music.jpg" data-src="holder.js/100%x150" />
							</a>
						</div>
				</div>
			</div>
		</div>
		<!-- FIN -->

<!-- 		<div id="featured"> -->
<!-- 			<p class ="featuredTitle"> Patrocinados </p> -->
<!-- 			<div id="featuredSection"> -->
<!-- 				<a href="#"> <img class="featuredImage" -->
<!-- 					src="/images/categories/technology.jpg" />  -->
<!-- 					<span class="featuredTitle">PS4 Nueva</span> -->
<!-- 				</a> -->
<!-- 			</div> -->
<!-- 			<div id="featuredSection"> -->
<!-- 				<a href="#"> <img class="featuredImage" -->
<!-- 					src="/images/categories/technology.jpg" />  -->
<!-- 					<span class="featuredTitle">PS4 Nueva</span> -->
<!-- 				</a> -->
<!-- 			</div> -->
<!-- 		</div> -->

	</div>
	
<!-- 	<div id="prebot"></div> -->
<!-- 	<div id="bot"></div> -->
</body>
</html>