<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:form="http://www.springframework.org/tags/form">
<head>
<title>Registrarse en Elovendo</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<!-- <script src="/js/imagePreview.js"></script> -->

<!-- Form -->
<!-- <link rel="stylesheet" href="/css/formStyle.css" /> -->

<link href="/css/styleweb.css" rel="stylesheet" type="text/css" />

<!-- ************************* -->
<!-- ******* Bootstrap ******* -->
<!-- ************************* -->

<!-- Javascript -->
<script src="/js/jquery-1.11.1.min.js"></script>
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script> -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<!-- Bootstrap extra (bs-callout) -->
<link href="/css/bootstrap-extra.css" media="all" rel="stylesheet" type="text/css" />

<script src="/js/filter.js" type="text/javascript"></script>

<!-- File input -->
<link href="/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
<script src="/js/fileinput.min.js" type="text/javascript"></script>

<!-- Switch -->
<link href="/css/bootstrap-switch.css" rel="stylesheet"/>
<script src="/js/bootstrap-switch.js"></script>

<!--  Phone input -->
<link href="/css/intlTelInput.css" rel="stylesheet"/>
<script src="/js/intlTelInput.js" type="text/javascript"></script>
<script src="/js/utils.js" type="text/javascript"></script>

</head>

<body>

	<div th:replace="elovendo/header"></div>
	
	<div class="row">
		<div class="col-xs-12 col-md-12 text-center" style="margin-bottom:20px;">
			<h1>Crea tu cuenta en Elovendo</h1>
			<hr class="hrStyle2"/>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="alert alert-warning" role="alert">Recuerda que si eres usuario de algún <strong>foro u otra web
			de venta de segunda mano</strong>, debes registrarte <strong>con el mismo nombre de usuario</strong> 
			y enviar una <a href="#" class="alert-link">solicitud de 
			transferencia</a> para mantener tus votos en Elovendo.</div>
		</div>
		<div class="row text-center">
			<form class="form-horizontal" role="form" id="registrationform" th:action="@{/site/register}" 
				method="post" enctype="multipart/form-data" accept-charset="UTF-8" >
				<h2><small>Datos de tu cuenta</small></h2>
				<hr/>
				<!-- Username 2-20 characters -->
<!-- 				<div class="col-sm-8 col-sm-offset-2" th:if="${#fields.hasErrors('user.login')}"> -->
<!-- 					<div class="alert alert-danger" role="alert"> -->
<!-- 							<span class="alert-link" role="alert" th:errors="${user.login}">Error</span> -->
<!-- 					</div> -->
<!-- 				</div> -->
				<div class="form-group">
					<div class="col-sm-8 col-sm-offset-2" th:classappend="${#fields.hasErrors('user.login')} ? 'has-error'">
						<label for="title" class="col-sm-2 control-label">Usuario</label> 
						<div class="col-sm-8">
							<input type="text" class="form-control" id="username" name="username" 
								th:title="#{login.invalid}" placeholder="Nombre de usuario" 
								th:field="${user.login}" required="required"
								pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,23}$"/>
							<div th:if="${#fields.hasErrors('user.login')}" class="form-group has-error">
								<small class="control-label" th:errors="${user.login}"
									style="text-align: center !important">Input with error</small>
							</div>
						</div>
					</div>
				</div>
				<!-- Password (UpperCase, LowerCase, Number/SpecialChar and min 8 Chars) -->
<!-- 				<div class="col-sm-8 col-sm-offset-2" th:if="${#fields.hasErrors('user.password')}"> -->
<!-- 					<div class="alert alert-danger" role="alert"> -->
<!-- 							<span class="alert-link" -->
<!-- 							role="alert" th:errors="${user.password}">Error</span> -->
<!-- 					</div> -->
<!-- 				</div> -->
				<div class="form-group">
					<div class="col-sm-8 col-sm-offset-2" th:classappend="${#fields.hasErrors('user.confirmPassword')} ? 'has-error'">
						<label for="password" class="col-sm-2 control-label" th:text="#{label.password}">Password</label> 
						<div class="col-sm-8">
							<input class="form-control" id="password" name="password" type="password" 
								placeholder="Contraseña" th:title="#{Pattern.user.password}"
								pattern="[0-9a-zA-Z$@$!%*#?&]{8,}$" />
							<div th:if="${#fields.hasErrors('user.password')}" class="form-group has-error">
								<small class="control-label" th:errors="${user.password}"
									style="text-align: center !important">Input with error</small>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-8 col-sm-offset-2" th:classappend="${#fields.hasErrors('user.confirmPassword')} ? 'has-error'">
						<label for="confirmPassword" class="col-sm-2 control-label" th:text="#{label.confirmPassword}">Confirm Password</label> 
						<div class="col-sm-8">
							<input class="form-control" id="confirmPassword" name="confirmPassword" type="password" 
								placeholder="Contraseña" th:title="#{password.invalid}"
								pattern="[0-9a-zA-Z$@$!%*#?&]{8,}$" />
							<div th:if="${#fields.hasErrors('user.confirmPassword')}" class="form-group has-error">
								<small class="control-label" th:errors="${user.confirmPassword}"
									style="text-align: center !important">Input with error</small>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-8 col-sm-offset-2" th:classappend="${#fields.hasErrors('user.email')} ? 'has-error'">
						<label for="email" class="col-sm-2 control-label" th:text="#{User.add.label.email}">Email Address</label> 
						<div class="col-sm-8">
							<input class="form-control" type="email" id="email" th:field="${user.email}" 
								required="required" th:placeholder="#{User.add.placeholder.email}" 
								th:value="${user.email}" />
							<div th:if="${#fields.hasErrors('user.email')}" class="form-group has-error">
								<small class="control-label" th:errors="${user.email}"
									style="text-align: center !important">Input with error</small>
							</div>
						</div>
					</div>
				</div>
				<h2><small>Información básica</small></h2>
				<hr />
				<div class="form-group">
					<div class="col-sm-8 col-sm-offset-2">
						<label for="firstName" class="col-sm-2 control-label" th:text="#{label.firstName}">Nombre</label>
						<div class="col-sm-8">
							<input class="form-control" id="firstName" name="firstName" type="text" 
							placeholder="Tu nombre" th:field="${user.firstName}"/>
<!-- 							<span th:if="${#fields.hasErrors('user.login')}" th:errors="${user.login}">Error</span> -->
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-8 col-sm-offset-2">
						<label for="lastName" class="col-sm-2 control-label" th:text="#{label.lastName}">Apellidos</label>
						<div class="col-sm-8">
							<input class="form-control" id="lastName" name="lastName" type="text" 
							placeholder="Tus apellidos" th:field="${user.lastName}"/>
<!-- 							<span th:if="${#fields.hasErrors('user.login')}" th:errors="${user.login}">Error</span> -->
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-8 col-sm-offset-2" id="phoneForm" th:classappend="${#fields.hasErrors('user.phone')} ? 'has-error'">
						<label for="phone" class="col-sm-2 control-label" th:text="#{label.phone}">Phone</label>
						<div class="col-sm-8">
							<input type="tel" class="form-control" id="phone" name="phone"
								th:placeholder="#{User.register.ph.mobile}" th:value="${user.phone}"/>
							<div th:if="${#fields.hasErrors('user.phone')}" class="form-group has-error">
								<small class="control-label" th:errors="${user.phone}"
									style="text-align: center !important">Input with error</small>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-8 col-sm-offset-2">
						<label for="phone" class="col-sm-8 control-label">¿Quieres marcarte como usuario de whatssap con tu número de teléfono?
						Los usuarios podrán enviarte mensajes a Whatssap directamente desde nuestra aplicación.</label>
						<div class="col-sm-2">
							<div class="pull-right has-success">
								<input type="checkbox" name="whatssap" data-on-text="Sí"
									data-off-text="No" data-on-color="success"
									data-off-color="warning" />
							</div>
						</div>
					</div>
				</div>
<!-- 				<div class="col-sm-8 col-sm-offset-2" th:if="${#fields.hasErrors('profilePic')}"> -->
<!-- 					<div class="alert alert-danger" role="alert"> -->
<!-- 							<span class="alert-link" role="alert" th:errors="${profilePic}">Error</span> -->
<!-- 					</div> -->
<!-- 				</div> -->
				<div class="form-group">
					<div class="col-sm-8 col-sm-offset-2 form-fix">
						<label for="profilePic" class="col-sm-2 control-label" th:text="#{label.profilePic}">Profile pic</label> 
						<div class="col-sm-8">
							<input id="profilePic" type="file" class="file" data-show-upload="false" name="profilePic"/>
						</div>
					</div>
				</div>
				<div class="row" style="margin-top: 20px;">
					<div class="col-sm-8 col-sm-offset-2">
						<div class="col-sm-2">
							<span class="button-checkbox">
								<button id="buttonAccept" type="button" class="btn" data-color="info" tabindex="7">Acepto</button>
								<input type="checkbox" name="acceptCheck" id="acceptCheck" class="hidden" value="1"/>
							</span>
						</div>
						<div class="col-sm-8">
							 Pulsando <strong class="label label-primary">Acepto</strong>, confirmas que has leído 
							 y aceptas nuestras 
							 <a href="#" data-toggle="modal" data-target="#t_and_c_m">Condiciones y términos de uso</a> 
							 , incluyendo nuestra política de cookies.
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-sm-offset-3" style="margin-top: 20px;">
					<button id="buttonRegister" type="submit" disabled="disabled" 
					class="btn btn-success btn-lg btn-block web-top-margin">Registrarse</button>
					<hr/>
				</div>
			</form>
		</div>
	</div>
	
	<!-- Modal -->
<div class="modal fade" id="t_and_c_m" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title" id="myModalLabel">Terms and Conditions</h4>
			</div>
			<div class="modal-body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
			</div>
			<div class="modal-footer">
				<button id="notAccept" type="button" class="btn btn-default" data-dismiss="modal">No acepto</button>
				<button id="accept" type="button" class="btn btn-primary" data-dismiss="modal">Acepto</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script th:inline="javascript">

	/*<![CDATA[*/
	var w = /*[[${isWhatssap}]]*/ false;
	/*]]>*/

	$(document).ready(function() {
		console.log("phone valid? " + $('#phone').val());
		
		console.log("flag? " + $(".flag .es").prop('class'));
		var els = document.getElementsByClassName('flag');
		
		console.log("size " + $.fn.intlTelInput.getCountryData().length);
		
// 		var isValid = intlTelInputUtils.isValidNumber($('#phone').val(), 34);
// 		var isValid = $('#phone').intlTelInput("isValidNumber");
		try {
			console.log("phone is? " + $('#phone').val());
			var iv = $('#phone').val() != "";
			console.log("really valid? " + iv);
			console.log("cause is? " + $('#phone').val());
			
			if (iv) {
				$("[name='whatssap']").bootstrapSwitch('disabled', false, true);
			} else {
				$("[name='whatssap']").bootstrapSwitch('disabled', true, true);
			}
		} catch (err) {
			console.log("error reading phone value valid");
			$("[name='whatssap']").bootstrapSwitch('disabled', true, true);
		}

		if (w != null) $("[name='whatssap']").bootstrapSwitch('state', w, true);

	});
	
	$("[name='whatssap']").bootstrapSwitch({
		checked: true,
		disabled: true
	});
	
	$("#accept").on('click', function() {
		console.log("accept click");
		document.getElementById('buttonAccept').className = "btn btn-info active";
		document.getElementById('buttonAcceptCheck').className = "state-icon glyphicon glyphicon-check";
		document.getElementById('acceptCheck').checked = true;
		document.getElementById('buttonRegister').disabled = false;
	});
	
	$('#phone').intlTelInput({
		 defaultCountry: "auto",
		 numberType: intlTelInputUtils.numberType.MOBILE,
		 preferredCountries: ["us", "gb", "es", "fr", "in", "de"]
	});
	
	$('#phone').on("change", function() {
		var val = $(this).val();
		var isValid = $("#phone").intlTelInput("isValidNumber");
		if (isValid) {
			if (val.length == 0) {
				$("[name='whatssap']").bootstrapSwitch('disabled', true, true);
			} else {
				$("[name='whatssap']").bootstrapSwitch('disabled', false, true);
			}
		} else {
			$('#phoneForm').addClass('has-error');
		}
	});

	
	$(function() {
		$('.button-checkbox').each(
			function() {
				// Settings
				var $widget = $(this), $button = $widget
					.find('button'), $checkbox = $widget
					.find('input:checkbox'), color = $button
					.data('color'), settings = {
						on : {
							icon : 'glyphicon glyphicon-check'
						},
						off : {
							icon : 'glyphicon glyphicon-unchecked'
						}
				};

				// Event Handlers
				$button.on('click', function() {
					$checkbox.prop('checked', !$checkbox.is(':checked'));
					$checkbox.triggerHandler('change');
					updateDisplay();
					if ($checkbox.is(':checked')) {
						document.getElementById("buttonRegister").disabled = false;
					} else {
						document.getElementById("buttonRegister").disabled = true;
					}
				});
				
				$checkbox.on('change', function() {
					updateDisplay();
				});

				// Actions
				function updateDisplay() {
					var isChecked = $checkbox.is(':checked');

					// Set the button's state
					$button.data('state', (isChecked) ? "on" : "off");

					// Set the button's icon
					$button
							.find('.state-icon')
							.removeClass()
							.addClass('state-icon ' + settings[$button.data('state')].icon);

					// Update the button's color
					if (isChecked) {
						$button.removeClass('btn-default').addClass('btn-' + color + ' active');
					} else {
						$button.removeClass('btn-' + color + ' active').addClass('btn-default');
					}
				}

				// Initialization
				function init() {
					updateDisplay();
					// Inject the icon if applicable
					if ($button.find('.state-icon').length == 0) {
						$button.prepend('<i id="buttonAcceptCheck" class="state-icon '
							+ settings[$button.data('state')].icon + '"></i> ');
					}
				}
				init();
			});
	});
</script>

</body>
</html>