<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<meta charset="UTF-8" />
<title>Insert title here</title>

<!-- ************************* -->
<!-- ******* Bootstrap ******* -->
<!-- ************************* -->

<!-- Javascript -->
<script src="/js/jquery-1.11.0.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<!-- Styles -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/headerStyle.css" media="screen" />

<link rel="stylesheet" type="text/css" href="/css/styleweb.css"/> <!-- For featuredSection -->

<!-- Form -->
<link rel="stylesheet" href="/css/pagination.css" />
<link rel="stylesheet" href="/css/styleList.css" />

<script src="/js/filter.js"></script>

</head>
<!-- <body class="homepage"> -->
<body>

	<!-- Header -->
	<div th:replace="elovendo/header"></div>
	
	<div class="container">
		<div class="row">
			<!-- Filter -->
			<div class="col-xs-4 col-md-4" >
				<div class="row top-buffer">
					<div class="col-xs-12 col-md-12">
						<div class="form-group">
    						<label for="exampleInputEmail1">Provincia</label>
							<select class="form-control">
								<option th:each="province : ${provinces}" th:value="${province.provinceName}" 
								th:text="${province.provinceName}"> Province </option>
							</select>
						</div>
					</div>
				</div>
				<div class="row top-buffer">
					<div class="col-xs-12 col-md-12">
						<div class="form-group">
							<label for="exampleInputEmail1">Subcategoría</label>
							<form>
								<select id="categorySelect" class="form-control">
									<option th:each="subCategory : ${subCategories}" 
									th:value="${subCategory.subCategoryName}"  th:text="${subCategory.subCategoryName}"> 
									SubCategory </option>
								</select>
							</form>
						</div>
					</div>
				</div>
				<div class="row top-buffer">
					<div class="col-xs-12 col-md-12">
						<div class="form-group">
							<label for="exampleInputEmail1">Precio</label>
							<form class="form-inline"
								th:action="@{'/bazaar/' + ${url}}" method="GET" name="prizeForm"
								onsubmit="submitSearchForm()">
									<input type="number" min="0" class="form-control"
										placeholder="Mínimo" th:value="${prizeMin}"
										name="min" style="max-width:100px;"/> 
									<input type="number" min="0" class="form-control"
										placeholder="Máximo" th:value="${prizeMax}"
										name="max" style="max-width:100px;"/>
								<button type="submit" class="btn btn-default">Filtrar precio</button>
							</form>
						</div>
					</div>
				</div>
				<div class="row top-buffer">
					<div class="col-xs-12 col-md-12">
						<div class="featuredSection">
							<div class="thumbnail">
								<a href="/bazaar/category/tecnologia">
									<img data-src="holder.js/300x300" alt="..." src="/images/categories/technology.jpg"/>
								</a>
								<div class="caption">
									<h3>PS4</h3>
									<p>Descripción del anuncio blablbalabblablalabalbalsafsdfsdsdffssdfdsfsdfdsf</p>
									<p>
										<a href="#" class="btn btn-default" role="button">Ver anuncio</a>
										<a href="#" class="btn btn-primary" role="button">Enviar mensaje</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<div class="featuredSection">
							<div class="thumbnail">
								<a href="/bazaar/category/tecnologia">
									<img data-src="holder.js/300x300" alt="..." src="/images/categories/technology.jpg"/>
								</a>
								<div class="caption">
									<h3>PS4</h3>
									<p>Descripción del anuncio blablbalabblablalabalbalsafsdfsdsdffssdfdsfsdfdsf</p>
									<p>
										<a href="#" class="btn btn-default" role="button">Ver anuncio</a>
										<a href="#" class="btn btn-primary" role="button">Enviar mensaje</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<div class="featuredSection">
							<div class="thumbnail">
								<a href="/bazaar/category/tecnologia">
									<img data-src="holder.js/300x300" alt="..." src="/images/categories/technology.jpg"/>
								</a>
								<div class="caption">
									<h3>PS4</h3>
									<p>Descripción del anuncio blablbalabblablalabalbalsafsdfsdsdffssdfdsfsdfdsf</p>
									<p>
										<a href="#" class="btn btn-default" role="button">Ver anuncio</a>
										<a href="#" class="btn btn-primary" role="button">Enviar mensaje</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<div class="featuredSection">
							<div class="thumbnail">
								<a href="/bazaar/category/tecnologia">
									<img data-src="holder.js/300x300" alt="..." src="/images/categories/technology.jpg"/>
								</a>
								<div class="caption">
									<h3>PS4</h3>
									<p>Descripción del anuncio blablbalabblablalabalbalsafsdfsdsdffssdfdsfsdfdsf</p>
									<p>
										<a href="#" class="btn btn-default" role="button">Ver anuncio</a>
										<a href="#" class="btn btn-primary" role="button">Enviar mensaje</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<div class="featuredSection">
							<div class="thumbnail">
								<a href="/bazaar/category/tecnologia">
									<img data-src="holder.js/300x300" alt="..." src="/images/categories/technology.jpg"/>
								</a>
								<div class="caption">
									<h3>PS4</h3>
									<p>Descripción del anuncio blablbalabblablalabalbalsafsdfsdsdffssdfdsfsdfdsf</p>
									<p>
										<a href="#" class="btn btn-default" role="button">Ver anuncio</a>
										<a href="#" class="btn btn-primary" role="button">Enviar mensaje</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Stuff -->
			<div class="col-xs-8 col-md-8">
				<div class="row" th:each="item : ${itemsList}">
					<div class="col-xs-12 col-md-12">
						<div class="thumbnail">
								<a th:href="@{'/bazaar/item/' + ${item.itemId}}">
									<img data-src="holder.js/300x300" alt="..." 
									th:src="@{'http://83.165.60.132:8080/' + ${item.imgHome}}"/>
								</a>
								<!--  Caption -->
								<div class="caption">
									<div class="row">
										<div class="col-xs-8 col-md-8">
											<h3 th:text="${item.title}">Title</h3>
										</div>
										<!--  User info -->
										<div class="col-xs-4 col-md-4">
											<div class="row">
												<div class="col-xs-4 col-md-4">
													<img data-src="holder.js/300x300" alt="Profile pic" class="img-circle center-block"
													th:src="@{'http://83.165.60.132:8080/' + ${item.user.avatar}}" style="height:60px"/>
												</div>
												<div class="col-xs-8 col-md-8">
													<div class="row">
														<div class="col-xs-12 col-md-12">
															<p th:text="${item.user.login}" class="pull-left" >User</p>
														</div>
														<div class="col-xs-12 col-md-12">
															<p th:text="${item.user.login}" class="pull-left" >User</p>
														</div>
													</div>
												</div>
											</div>
										</div> <!--  User info -->
									</div>
									<p th:text="${item.description}">Description</p>
									<p>
										<a href="#" class="btn btn-default" role="button">Ver anuncio</a>
										<a href="#" class="btn btn-primary" role="button">Enviar mensaje</a>
<!-- 										<form action="/elovendo/index" method="GET"> -->
<!-- 											<button type="submit" class="btn btn-default btn-m"> -->
<!-- 												<span class="glyphicon glyphicon-star-empty"></span> Favorito -->
<!-- 											</button> -->
<!-- 										</form> -->
									</p>
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<div class="text-center">
					<div id="contentPagination">
						<ul class="pagination">
							<li th:class="${page.firstPage}? 'active' : ''"><span
								th:if='${page.firstPage}'>← First</span> <a
								th:if='${not page.firstPage}'
								th:href='@{${page.url}(p=0,s=${page.size})}'>← First</a></li>
							<li th:class="${page.hasPreviousPage}? '' : 'active'"><span
								th:if='${not page.hasPreviousPage}'>«</span> <a
								th:if='${page.hasPreviousPage}'
								th:href='@{${page.url}(p=${page.number-2},s=${page.size})}'
								title='Go to previous page'>«</a></li>
							<li th:each="item : ${page.items}"
								th:class="${item.current}? 'active' : ''"><span
								th:if='${item.current}' th:text='${item.number}'>1</span> <a
								th:if='${not item.current}'
								th:href='@{${page.url}(p=${item.number}-1,s=${page.size})}'><span
									th:text='${item.number}'>1</span></a></li>
							<li th:class="${page.hasNextPage}? '' : 'active'"><span
								th:if='${not page.hasNextPage}'>»</span> <a
								th:if='${page.hasNextPage}'
								th:href='@{${page.url}(p=${page.number},s=${page.size})}'
								title='Go to next page'>»</a></li>
							<li th:class="${page.lastPage}? 'active' : ''"><span
								th:if='${page.lastPage}'>Last →</span> <a
								th:if='${not page.lastPage}'
								th:href='@{${page.url}(p=${page.totalPages-1},s=${page.size})}'>Last
									→</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	
<!-- 	<div id="content"> -->
<!-- 		<div id="contentItemList"> -->
<!-- 			<div id="itemList" th:each="item : ${itemsList}"> -->
<!-- 				<div class="itemText"> -->
<!-- 					<p class="itemTitle" th:text="${item.title}">Item title</p> -->
<!-- 					<p th:text="${item.user.login}" class="itemUser">login</p> -->
<!-- 				</div> -->
<!-- 				<img class="picture" -->
<!-- 					th:src="@{'http://83.165.60.132:8080/' + ${item.imgHome}}" -->
<!-- 					width="100" height="100" /> -->
					
<!-- 				<div class="starButton"> -->
<!-- 					<form action="/elovendo/index" method="GET"> -->
<!-- 						<button type="submit" class="btn btn-default btn-m"> -->
<!-- 	  						<span class="glyphicon glyphicon-star-empty"></span> Favorito -->
<!-- 						</button> -->
<!-- 					</form> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</div> -->
		
		<!-- Filter menu -->
<!-- 		<div id="contentFilter"> -->
						<!-- Province select -->
<!-- 			<select class="form-control"> -->
<!-- 			  <option th:each="province : ${provinces}"  -->
<!-- 			  	th:value="${province.provinceName}" th:text="${province.provinceName}"> -->
<!-- 			  	Province </option> -->
<!-- 			</select> -->
			
<!-- 			<form> -->
<!-- 				<select id="categorySelect" class="form-control"> -->
<!-- 				  <option th:each="subCategory : ${subCategories}"  -->
<!-- 				  	th:value="${subCategory.subCategoryName}" th:text="${subCategory.subCategoryName}"> -->
<!-- 				  	SubCategory </option> -->
<!-- 				</select> -->
<!-- 			</form> -->
			
<!-- 			<form class="navbar-form navbar-left" th:action="@{'/bazaar/' + ${url}}" method="GET" name="prizeForm" onsubmit="submitSearchForm()"> -->
<!-- 			  <div class="form-group"> -->
<!-- 			    <input type="number" min="0" class="form-control" placeholder="Introduce un valor"  -->
<!-- 			    	th:value="${prizeMin}" name="min"/> -->
<!-- 			    <input type="number" min="0" class="form-control" placeholder="Introduce un valor"  -->
<!-- 			    	th:value="${prizeMax}" name="max"/> -->
<!-- 			  </div> -->
<!-- 			  <button type="submit" class="btn btn-default">Filtrar precio</button> -->
<!-- 			</form> -->
<!-- 		</div> -->

	<!-- Pagination Bar -->
<!-- 			<div id="contentPagination"> -->
<!-- 			    <ul class="pagination"> -->
<!-- 			      <li th:class="${page.firstPage}? 'active' : ''"> -->
<!-- 			        <span th:if='${page.firstPage}'>← First</span> -->
<!-- 			        <a th:if='${not page.firstPage}' th:href='@{${page.url}(p=0,s=${page.size})}'>← First</a> -->
<!-- 			      </li> -->
<!-- 			      <li th:class="${page.hasPreviousPage}? '' : 'active'"> -->
<!-- 			        <span th:if='${not page.hasPreviousPage}'>«</span> -->
<!-- 			        <a th:if='${page.hasPreviousPage}' th:href='@{${page.url}(p=${page.number-2},s=${page.size})}' title='Go to previous page'>«</a> -->
<!-- 			      </li> -->
<!-- 			      <li th:each="item : ${page.items}" th:class="${item.current}? 'active' : ''"> -->
<!-- 			        <span th:if='${item.current}' th:text='${item.number}'>1</span> -->
<!-- 			        <a th:if='${not item.current}' th:href='@{${page.url}(p=${item.number}-1,s=${page.size})}'><span th:text='${item.number}'>1</span></a> -->
<!-- 			      </li> -->
<!-- 			      <li th:class="${page.hasNextPage}? '' : 'active'"> -->
<!-- 			        <span th:if='${not page.hasNextPage}'>»</span> -->
<!-- 			        <a th:if='${page.hasNextPage}' th:href='@{${page.url}(p=${page.number},s=${page.size})}' title='Go to next page'>»</a> -->
<!-- 			      </li> -->
<!-- 			      <li th:class="${page.lastPage}? 'active' : ''"> -->
<!-- 			        <span th:if='${page.lastPage}'>Last →</span> -->
<!-- 			        <a th:if='${not page.lastPage}' th:href='@{${page.url}(p=${page.totalPages-1},s=${page.size})}'>Last →</a> -->
<!-- 			      </li> -->
<!-- 			    </ul> -->
<!-- 			</div> -->

<!-- 	</div> -->

</body>
</html>