<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<meta charset="UTF-8" />
<title>Insert title here</title>

<!-- ************************* -->
<!-- ******* Bootstrap ******* -->
<!-- ************************* -->

<!-- Latest compiled and minified CSS --> 
<!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/> -->
<!-- Optional theme -->
<!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/> -->
<!-- Latest compiled and minified JavaScript -->
<!-- <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->

<!-- <link rel="stylesheet" href="/css/pureCSS3pagination.css"/> -->

<!-- Form -->
<link rel="stylesheet" href="/css/pagination.css" />
<link rel="stylesheet" href="/css/styleList.css" />
	
	<style>
		.estilo {
			text-align: center;
			color: blue;
			float: left;
			align: center;
			margin-left: 
		}
	</style>

</head>
<!-- <body class="homepage"> -->
<body>

	<!-- Header -->
	<div th:replace="elovendo/header"></div>
	
	<div id="content">
		<div id="contentItemList">
			<div id="itemList" th:each="item : ${itemsList}">
				<div class="itemText">
					<p class="itemTitle" th:text="${item.title}">Item title</p>
					<p th:text="${item.user.login}" class="itemUser">login</p>
				</div>
				<img class="picture"
					th:src="@{'http://83.165.60.132:8080/' + ${item.imgHome}}"
					width="100" height="100" />
			</div>
		</div>
		
		<!-- Pagination Bar -->
		<div id="contentPagination">
		  <div class='pagination'>
		    <ul class="pure-paginator">
		      <li th:class="${page.firstPage}? 'page active' : ''">
		        <span th:if='${page.firstPage}'>← First</span>
		        <a class="page gradient" th:if='${not page.firstPage}' th:href='@{${page.url}(p=0,s=${page.size})}'>← First</a>
		      </li>
		      <li th:class="${page.hasPreviousPage}? '' : 'page active'">
		        <span th:if='${not page.hasPreviousPage}'>«</span>
		        <a class="page gradient" th:if='${page.hasPreviousPage}' th:href='@{${page.url}(p=${page.number-2},s=${page.size})}' title='Go to previous page'>«</a>
		      </li>
		      <li th:each="item : ${page.items}" th:class="${item.current}? 'page active' : ''">
<!-- 		      			<span th:text="${item.itemId}">-1</span> -->
<!-- 						<span th:text="${item.title}">Item title</span> -->
		        <span th:if='${item.current}' th:text='${item.number}'>1</span>
		        <a class="page gradient" th:if='${not item.current}' th:href='@{${page.url}(p=${item.number}-1,s=${page.size})}'><span th:text='${item.number}'>1</span></a>
		      </li>
		      <li th:class="${page.hasNextPage}? '' : 'page active'">
		        <span th:if='${not page.hasNextPage}'>»</span>
		        <a class="page gradient" th:if='${page.hasNextPage}' th:href='@{${page.url}(p=${page.number},s=${page.size})}' title='Go to next page'>»</a>
		      </li>
		      <li th:class="${page.lastPage}? 'page active' : ''">
		        <span th:if='${page.lastPage}'>Last →</span>
		        <a class="page gradient" th:if='${not page.lastPage}' th:href='@{${page.url}(p=${page.totalPages-1},s=${page.size})}'>Last →</a>
		      </li>
		    </ul>
		  </div>
		</div>

	<!-- 	<ul class="pure-paginator"> -->
<!-- 		<li><a class="pure-button prev" th:href="@{/bazaar/zorg/moviles(p=${page-1}, s=${size})}">&#171;</a></li> -->
<!-- 		<li><a class="pure-button" th:href="@{/bazaar/zorg/moviles(p=0, s=${size})}">1</a></li> -->
<!-- 		<li><a class="pure-button pure-button-active" th:href="@{/bazaar/zorg/moviles(p=1, s=${size})}">2</a></li> -->
<!-- 		<li><a class="pure-button" href="#">3</a></li> -->
<!-- 		<li><a class="pure-button" href="#">4</a></li> -->
<!-- 		<li><a class="pure-button" href="#">5</a></li> -->
<!-- 		<li><a class="pure-button next" th:href="@{/bazaar/zorg/moviles(p=${page+1}, s=${size})}">&#187;</a></li> -->
<!-- 	</ul> -->
	</div>

</body>
</html>