<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<meta charset="UTF-8" />
<meta name="_csrf" th:content="${_csrf.token}"/>
<!-- default header name is X-CSRF-TOKEN -->
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<title>Ver anuncios</title>

<link rel="shortcut icon" type="image/x-icon" href="/images/webimg/favicon.ico" />

<!-- ************************* -->
<!-- ******* Bootstrap ******* -->
<!-- ************************* -->

<!-- Javascript -->
<script src="/js/jquery-1.11.0.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="/css/bootstrap.min.css"/>
<!-- Latest compiled and minified JavaScript -->
<script src="/js/bootstrap.min.js"></script>

<!-- ************************* -->
<!-- ********** Web ********** -->
<!-- ************************* -->

<!-- Web style -->
<link rel="stylesheet" type="text/css" href="/css/styleweb.css"/>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-extra.css"/>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-slider.css"/>
<!-- Form -->
<!-- <link rel="stylesheet" href="/css/pagination.css" /> -->
<!-- <link rel="stylesheet" href="/css/styleList.css" /> -->

<!-- Styles -->
<link rel="stylesheet" type="text/css" href="/css/headerStyle.css" media="screen" />

<script src="/js/filter.js"></script>
<script src="/js/bootstrap-slider.js"></script>
<script src="/js/geo.js"></script>

<!-- Google autocomplete  -->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;libraries=places"></script>

</head>
<!-- <body class="homepage"> -->
<body style="background-color:#FBFAF9;" onload="getLocation(); fillFilter(); popSub(); initAutoComplete()">

	<!-- Header -->
	<div th:replace="elovendo/header"></div>
	
	<div class="container">
		<div class="row">
			<!-- Filter -->
			<div class="col-xs-4 col-md-4 col-lg-4" >
				<!-- title -->
				<div class="row">
						<div class="col-xs-12">
							<h1 style="margin-top: 0px;"><small>Filtrar</small></h1>
							<hr class="hrStyle"/>
						</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<div class="form-group" style="width: 100%!imporant;">
							
							<form id="locform" class="form-inline" name="locationForm" th:action="@{'/bazaar/' + ${url}}" >
								<label for="autocomplete">Buscar desde...</label>
								<div class="row">
									<div class="col-lg-12">
										<div class="input-group" 
												style="width: 100%;">
											<input class="form-control" id="autocomplete"
												placeholder="Lugar desde donde buscar..." type="text"> 
											<input type="hidden" id="lat" name="lat" value="0" /> 
											<input type="hidden" id="lng" name="lng" value="0" /> 
											<span class="input-group-btn">
												<button type="submit" class="btn btn-default">Buscar</button>
											</span>
										</div>
									</div>
								</div>
	
								<div class="row">
									<div class="col-lg-12">
									<label for="dis" style="margin-top: 15px;">Radio de distancia</label><br/>
										<div class="input-group" style="width: 100%;">
											<input type="number" min="0" class="form-control" id="dis"
													placeholder="Hasta..." name="dis" step="0.01"/>
											<div class="input-group-btn">
												<button type="submit" class="btn btn-default" tabindex="-1">Buscar</button>
												<button type="button"
													class="btn btn-default dropdown-toggle"
													data-toggle="dropdown" tabindex="-1">
													<span class="caret"></span> <span class="sr-only">Toggle
														Dropdown</span>
												</button>
												<ul class="dropdown-menu dropdown-menu-right" role="menu">
													<li><a onclick="setRad(10)">10 KM</a></li>
													<li><a onclick="setRad(30)">30KM</a></li>
													<li><a onclick="setRad(80)">80KM</a></li>
													<li><a onclick="setRad(200)">200KM</a></li>
													<li><a onclick="setRad(500)">500KM</a></li>
													<li><a onclick="setRad(1000)">1000KM</a></li>
													<li class="divider"></li>
													<li><a onclick="setRad(5000)">Todo el mundo</a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<div class="form-group">
							<label for="exampleInputEmail1">Categoría</label>
							<form>
								<select id="categoryFilter" class="form-control">
									<option value="all"> Todas las categorías </option> 
									<option th:each="category : ${categories}" 
									th:value="${category.categoryName}"  th:text="${category.categoryName}"> 
									Category </option>
								</select>
							</form>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<div class="form-group">
							<label for="exampleInputEmail1">Subcategoría</label>
							<form>
								<select id="subCategory" class="form-control">
<!-- 									<option value=""> Selecciona subcategoría </option>  -->
<!-- 									<option th:each="subCategory : ${subCategories}"  -->
<!-- 									th:value="${subCategory.subCategoryName}"  th:text="${subCategory.subCategoryName}">  -->
<!-- 									SubCategory </option> -->
								</select>
							</form>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<div class="form-group">
							<label for="exampleInputEmail1">Precio</label>
							<form class="form-inline" id="prizeForm"
								th:action="@{'/bazaar/' + ${url}}" method="GET" name="prizeForm"
								onsubmit="submitSearchForm()">
									<input type="number" min="0" class="form-control"
										placeholder="Mínimo" th:value="${prizeMin}"
										name="min" style="max-width:100px;"/> 
									<input type="number" min="0" class="form-control"
										placeholder="Máximo" th:value="${prizeMax}"
										name="max" style="max-width:100px;"/>
								<button type="submit" class="btn btn-default">Filtrar precio</button>
							</form>
						</div>
					</div>
				</div>
				<!-- FEATURED -->
				<!-- title -->
				<div class="row">
					<div class="col-xs-12">
						<h1><small>Te puede interesar</small></h1>
						<hr class="hrStyle2"/>
					</div>
				</div>
				
				<div class="row" th:each="item : ${featuredItems}">
					<div class="col-xs-12 col-md-12">
						<a th:href="@{'/bazaar/item/' + ${item.itemId}}" class="featuredSection">
							<div class="thumbnail">
<!-- 								<a th:href="@{'/bazaar/item/' + ${item.itemId}}"> -->
									<img data-src="holder.js/300x300" alt="..." 
									th:src="@{'http://www.elovendo.com/' + ${item.mainImage200h}}"/>
<!-- 								</a> -->
<hr />
								<div class="caption">
									<h4 th:text="${item.title}">Title</h4>
									<p th:if="${#strings.length(item.plainDescription)} &gt; 99" 
										th:utext="${#strings.substring(item.plainDescription, 0, 100)}"
										class="featuredTextDesc">Description</p>
									<p th:if="${#strings.length(item.plainDescription)} &lt; 100" 
										th:utext="${item.plainDescription}"
										class="featuredTextDesc">Description</p>
								</div>
							</div>
						</a>
						<button class="btn btn-primary indexMsg" role="button"
							th:attr="data-user=${item.user.login}" data-toggle="modal"
							data-target="#myModal">
							<i class="glyphicon glyphicon-send" style="margin-right: 4px;"></i>
							Mensaje
						</button>
					</div>
				</div>
			</div>
			<!-- STUFF LIST -->
			<div class="col-xs-8 col-md-8 col-lg-8">
				<div class="row" th:each="item : ${itemsList}">
					<div class="col-xs-12 col-md-12 col-lg-12 itemList">
<!-- 						<div class="thumbnail featuredThumbnail"> -->
						<a th:href="@{'/bazaar/item/' + ${item.itemId}}">
							<div th:class="${item.highlight}? 'thumbnail featuredThumbnail pop' : 'thumbnail'">
								<div class="row">
									<div class="col-xs-5 col-md-4 col-lg-4">
										<div class="thumbnail pull-left itemList" style="min-height: 180px; max-height: 180px; width: 220px; max-width: 100%;">
												<img data-src="holder.js/300x300" alt="Image" class="img-responsive center-block"
												th:src="@{'http://www.elovendo.com/' + ${item.mainImage200h}}"/>
										</div>
									</div>
									<div class="col-xs-7 col-md-8 col-lg-8">
										<!-- favorite -->
	<!-- 									<button onclick="favClick(this)" type="submit" class="btn btn-danger btn-m pull-right" -->
	<!-- 									th:value="${item.itemId}" data-toggle="button"> -->
	<!-- 									<i class="glyphicon glyphicon-heart-empty"></i></button> -->
										<div class="btn-group pull-right" data-toggle="buttons"
											th:onclick="'favClick(' + ${item.itemId} + ', this)'">
	  										<label class="btn btn-danger btn-m" style="padding: 6px 12px 5px 10px;">
<!-- 	  											<input type="hidden" th:value="${item.itemId}" th:id="'f' + ${item.itemId}"/> -->
	  											<i th:id="'i'+${item.itemId}" class="glyphicon glyphicon-heart-empty"></i>
	  										</label>
	  									</div>
										<!--  User info -->
										<div class="row userInfo">
											<div class="col-xs-4 col-md-4 col-lg-4 userPicMin" style="width: 80px; margin-right: 10px;">
												<img data-src="holder.js/50x50" alt="Profile pic"
													th:src="@{'http://www.elovendo.com/' + ${item.user.avatar}}"/>
											</div>
											<div class="col-xs-12 col-md-8 col-lg-8">
												<div class="row">
	<!-- 												<div class="col-xs-12 col-md-12"> -->
														<p class="pull-left">Lo vende <span th:text="${item.user.login}">user</span>
														en <span th:text="${item.subCategory.subCategoryName}"></span></p>
	<!-- 												</div> -->
	<!-- 												<div class="col-xs-12 col-md-12"> -->
														<p class="pull-left">
															<span
																th:text="${#calendars.format(item.startDate, 'dd MMMM yyyy')}">
																fecha</span> a las <span
																th:text="${#calendars.format(item.startDate, 'HH:mm')}">
																hora</span>
														</p>
	<!-- 												</div> -->
												</div>
											</div>
										</div>
										<!--  Caption -->
										<div class="caption">
											<div class="row">
												<div class="col-xs-12 col-md-12 col-lg-12">
													<h3 th:text="${item.title}">Title</h3>
												</div>
											</div>
											<!--  Item info -->
											<div class="row">
												<div class="col-xs-12 col-md-12 col-lg-12 itemDesc">	
													<p th:if="${#strings.length(item.plainDescription)} &gt; 99" 
														th:utext="${#strings.substring(item.plainDescription, 0, 100)} + '(...)'">
														Description</p>
													<p th:if="${#strings.length(item.plainDescription)} &lt; 100" 
														th:utext="${item.plainDescription}">Description</p>
														<!-- class="mediumTextDesc"  -->
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-10 col-md-12 col-lg-12" style="margin-bottom: 10px;">
										<h2 style="display: inline; margin-left: 10px;">
											<span class="label label-or" 
											th:text="${#numbers.formatDecimal(item.prize, 0, 'COMMA', 0, 'POINT')} + ' €'"></span>
										</h2>
										<h4 th:if="${item.new}" style="display: inline; ">
											<span class="label label-danger">
											<i class="glyphicon glyphicon-fire"></i> Nuevo</span>
										</h4>
										<h4 th:if="${item.user.whatssapUser}" style="display: inline; ">
											<span class="label label-success">
											<i class="glyphicon glyphicon-phone"></i> Whatssap</span>
										</h4>
										<h4 th:if="${item.user.userValue} &gt; 70" style="display: inline;" 
										onmouseover="mouseHover()"><span class="label label-rep">
											<i class="glyphicon glyphicon-thumbs-up"></i> Reputado</span>
										</h4>
										<h4 style="display: inline;" >
										<span class="label label-dis">
											<i class="glyphicon glyphicon-globe"></i>
											<span th:text="${'A ' + item.distance + ' KM'}"></span>
										</span>
										</h4>
										<div class="btn-group pull-right" style="margin-right: 10px;">
	
										</div>
<!-- 										<div class="btn btn-primary pull-right" th:attr="data-user=${item.user.login}" data-toggle="modal" -->
<!-- 							data-target="#myModal"> -->
<!-- 	  										<i class="glyphicon glyphicon-send" style="margin-right: 4px;"></i> Mensaje -->
<!-- 	  									</div> -->
									</div>
								</div>
							</div>
						</a>
						<button class="btn btn-primary itemElement" role="button"
							th:attr="data-user=${item.user.login}" data-toggle="modal"
							data-target="#myModal">
							<i class="glyphicon glyphicon-send" style="margin-right: 4px;"></i> Mensaje
						</button>
						
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<div class="text-center">
					<div id="contentPagination">
						<ul class="pagination pagination-lg">
							<li th:class="${page.firstPage}? 'active' : ''"><span
								th:if='${page.firstPage}'>← First</span> <a
								th:if='${not page.firstPage}'
								th:href='@{${page.url}(p=0,s=${page.size})}'>← First</a></li>
							<li th:class="${page.hasPreviousPage}? '' : 'active'"><span
								th:if='${not page.hasPreviousPage}'>«</span> <a
								th:if='${page.hasPreviousPage}'
								th:href='@{${page.url}(p=${page.number-2},s=${page.size})}'
								title='Go to previous page'>«</a></li>
							<li th:each="item : ${page.items}"
								th:class="${item.current}? 'active' : ''"><span
								th:if='${item.current}' th:text='${item.number}'>1</span> <a
								th:if='${not item.current}'
								th:href='@{${page.url}(p=${item.number}-1,s=${page.size})}'><span
									th:text='${item.number}'>1</span></a></li>
							<li th:class="${page.hasNextPage}? '' : 'active'"><span
								th:if='${not page.hasNextPage}'>»</span> <a
								th:if='${page.hasNextPage}'
								th:href='@{${page.url}(p=${page.number},s=${page.size})}'
								title='Go to next page'>»</a></li>
							<li th:class="${page.lastPage}? 'active' : ''"><span
								th:if='${page.lastPage}'>Last →</span> <a
								th:if='${not page.lastPage}'
								th:href='@{${page.url}(p=${page.totalPages-1},s=${page.size})}'>Last
									→</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Enviar mensaje -
						SÓLO si estás funciona logueado! -</h4>
				</div>
				<div class="modal-body">
					<form id="messageForm" name="messageForm" role="form"
						th:action="@{/elovendo/messages/send}" method="post"
						accept-charset="UTF-8">
						<!-- If not loggued ask for email -->
						<div th:if="${#httpServletRequest.remoteUser == null}">
							<div class="form-group">
								<label for="exampleInputEmail1">Email</label> <input
									type="email" class="form-control" id="anomEmail"
									placeholder="Tu email..." />
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Nombre</label> <input
									type="text" class="form-control" id="exampleInputEmail1"
									name="receiver" placeholder="Tu nombre..." />
							</div>
						</div>
						<input type="hidden" id="receiver" name="receiver" />
						<div class="form-group">
							<label for="exampleInputPassword1">Mensaje</label>
							<textarea id="messageText" class="form-control textarea"
								rows="10" name="messageText" required="required"
								placeholder="Tu mensaje..." maxlength="1000"></textarea>
						</div>
						<div class="checkbox">
							<label> <input type="checkbox" /> Acepto las condiciones
								de uso
							</label>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal" >Cancelar</button>
							<button type="submit" class="btn btn-primary">Enviar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
	
	var sendMessageUrl = "/elovendo/messages/send";
	
		function mouseHover() {
			console.log("rep hover");
		}
		
		$('#myModal').on('hidden', function() {
			$('#messageText').value = '';
		})
		
		$('#messageForm').submit(function(event) {
		    event.preventDefault();
			var cv = $("meta[name='_csrf']").attr("content");
		    var cn = $("meta[name='_csrf_header']").attr("content");
		    $.ajax({
	            type : 'POST',
	            beforeSend: function (request) { request.setRequestHeader(cn, cv); },
	            url : sendMessageUrl,
	            data : ({
	                receiver : $('#receiver').val(),
	                messageText: $('#messageText').val()
	            })

	        });
		    
		    document.getElementById('messageText').value = '';
		    $('#myModal').modal('hide');
		});
		
		function getLocation() {
			var lat = getURLParameter('lat');
			var lng = getURLParameter('lng');
			console.log(lat);
			console.log(lng);
			if (lat != null && lng != null) {
				document.getElementById('lat').value = lat;
				document.getElementById('lng').value = lng;
			} else if (navigator.geolocation) {
				navigator.geolocation.getCurrentPosition(getPosition);
			}
		}
		
		function fillFilter() {
			var dis = getURLParameter('dis');
			if (dis != null)
				document.getElementById('dis').value = dis;
		}
		
		function getPosition(position) {
			document.getElementById('lat').value = position.coords.latitude;
			document.getElementById('lng').value = position.coords.longitude;
		}
		
		$('a[data-toggle=modal], button[data-toggle=modal]').click(function () {
		     var user = $(this).data('user');
		     document.getElementById('receiver').value = user;
		});
		
	</script>

</body>
</html>