	<!-- Modal -->
	<div class="modal fade" id="offModal" tabindex="-1" role="dialog"
		aria-labelledby="offModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="myModalLabel" th:text="#{Offer.item.title}">Send offer</h4>
				</div>
				<div class="modal-body" th:if="${#httpServletRequest.remoteUser} == null">
					<form id="offerForm" name="offerForm" role="form" action="/elovendo/offer/public/send" method="post"
						accept-charset="UTF-8">
						<div class="form-group">
							<label for="anonEmail" th:text="#{Global.email}">Email</label> 
								<input type="email" name="email" class="form-control" id="semail"
								th:placeholder="#{Common.email.placeholder}" />
						</div>
						<div class="form-group">
							<label for="sender" th:text="#{Global.name}">Name</label> <input
								type="text" class="form-control" id="sender"
								name="sender" th:placeholder="#{Common.name.placeholder}" />
						</div>
						<input type="hidden" id="receiver" name="receiver" />
						<div class="form-group">
							<label for="offer" th:text="#{Offer.item.offer.label}">Oferta</label>
							<input id="offer" class="form-control" name="offer" required="required"
								th:placeholder="#{Offer.item.offer.placeholder}" type="number" min="0"/>
						</div>
						<div class="checkbox">
							<label> <input type="checkbox" /> Acepto las condiciones de uso
							</label>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal" th:text="#{Global.cancel}">Cancel</button>
							<button type="submit" class="btn btn-success" onclick="hdp('a')" th:text="#{Global.offer}">Offer</button>
						</div>
					</form>
				</div>
				<div class="modal-body" th:unless="${#httpServletRequest.remoteUser} == null">
					<form id="offerForm" name="offerForm" role="form" action="/elovendo/offer/send" method="post"
						accept-charset="UTF-8">
						<input type="hidden" id="receiver" name="receiver" />
						<div class="form-group">
							<label for="offer" th:text="#{Offer.item.offer.label}">Offer</label>
							<input id="offer" class="form-control" name="offer" required="required"
								th:placeholder="#{Offer.item.offer.placeholder}" type="number" min="0"/>
						</div>
						<div class="checkbox">
							<label> <input type="checkbox" /> Acepto las condiciones de uso
							</label>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal" th:text="#{Global.cancel}">Cancel</button>
							<button type="submit" class="btn btn-success" onclick="hdp('s')" th:text="#{Global.offer}">Offer</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>