<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Elovendo</title>
<link rel="stylesheet" type="text/css" href="/css/styleweb.css"
	media="screen" />
<meta charset="utf-8" />
<meta name="description" content="Elovendo" />
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine|Inconsolata|Droid+Sans|Helvetica" />
<!-- <script src="/resources/js/toggle-login.js"></script> -->
</head>
<body>
<div id="header-outer">
	<div id="top">
		<img class="banner-logo" src="/images/webimg/logonfull-123h.png" />
		<a href="/elovendo/add_item.html" class="sellButton">Crea tu anuncio</a>
	</div>
</div>
<!-- 	<div id="prehead"> -->
		<!-- 			<div id="headtitle"> -->
		<!-- Remplazar DIV - CODIGO 
			<div th:replace="elovendo/cabecera"></div>  -->
		<!-- 			</div> -->
		<!-- <div id="sell">
				<form method="GET" action="sell" name="sell">
					<input class="sellbuttom" type="submit" value="Vender"/>
				</form>
			</div> -->
<!-- 	</div> -->
	<div id="content">

		<div id='search-box'>
<!-- 			<form id='search-form' method="GET" action="search" name="search"> -->
<!-- 				<input id='search-text' name='title' -->
<!-- 					placeholder='¿Qué quieres buscar?' type='text' /> -->
<!-- 				<button id='search-button' type='submit'> -->
<!-- 					<span>Buscar</span> -->
<!-- 				</button> -->
<!-- 			</form> -->
			<form class="form-wrapper cf">
				<input type="text" placeholder="¿Qué quieres buscar?" required=""/>
				<button type="submit">Buscar</button>
			</form>
		</div>
		<!-- MENU DE CATEGORIAS -->
		<div id="department">
			<!-- PARTE UNICA -->
			<a href="#"><div id="section">
					<img class="department-section"
						src="/images/categories/technology.jpg" />
					<div class="titlesection">
						<span class="titlesectiontext">Tecnología</span>
					</div>
				</div></a>
			<!-- FIN PARTE UNICA -->
			<a href="#"><div id="section">
					<img class="department-section" src="/images/categories/sport.jpg" />
					<div class="titlesection">
						<span>Deportes</span>
					</div>
				</div></a> <a href="#"><div id="section">
					<img class="department-section" src="/images/categories/house.jpg" />
					<div class="titlesection">
						<span>Hogar</span>
					</div>
				</div></a> <a href="#"><div id="section">
					<img class="department-section" src="/images/categories/car.jpg" />
					<div class="titlesection">
						<span>Coches</span>
					</div>
				</div></a> <a href="#"><div id="section">
					<img class="department-section" src="/images/categories/puppy.jpg" />
					<div class="titlesection">
						<span>Mascotas</span>
					</div>
				</div></a> <a href="#"><div id="section">
					<img class="department-section" src="/images/categories/book.jpg" />
					<div class="titlesection">
						<span>Libros</span>
					</div>
				</div></a> <a href="#"><div id="section">
					<img class="department-section"
						src="/images/categories/fashion.jpg" />
					<div class="titlesection">
						<span>Moda</span>
					</div>
				</div></a> <a href="#"><div id="section">
					<img class="department-section"
						src="/images/categories/jewelry.jpg" />
					<div class="titlesection">
						<span>Joyería</span>
					</div>
				</div></a> <a href="#"><div id="section">
					<img class="department-section" src="/images/categories/toy.jpg" />
					<div class="titlesection">
						<span>Niños</span>
					</div>
				</div></a> <a href="#"><div id="section">
					<img class="department-section" src="/images/categories/music.jpg" />
					<div class="titlesection">
						<span>Música</span>
					</div>
				</div></a>
		</div>
	</div>
	<div id="prebot"></div>
	<div id="bot"></div>
</body>
</html>