<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8" />
<title th:text="#{points.title}">Title</title>

<link href="/css/pricingStyle.css" rel="stylesheet" type="text/css" />
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href="/css/styleweb.css" rel="stylesheet" type="text/css" />

<!-- Javascript -->
<script src="/js/jquery-1.11.0.min.js"></script>
<script src="/js/headerHandler.js"></script>
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<script src="/js/bootstrap.min.js"></script>

</head>
<body>

	<!-- Header -->
	<div th:include="elovendo/header"></div>

	<div class="container">
		<div class="row text-center pad-top ">
			<div class="col-md-12">
				<h2>Comprar puntos</h2>
				<hr class="hrStyle2" />
			</div>
		</div>
		<div class="row text-center pad-top">
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="panel panel-danger">
					<div class="panel-heading">
						<h4 th:text="#{points.num.4}">POINTS</h4>
					</div>
					<div class="panel-body">

						<ul class="plan">
							<li class="price"><strong>1</strong> <i
								class="fa fa-euro"></i></li>
							<li><i class="fa fa-check"></i> <span th:text="#{points.desc1}"></span></li>
							<li><i class="fa fa-check"></i> <span th:text="#{points.desc2}"></span></li>
						</ul>
					</div>
					<div class="panel-footer">
						<div th:switch="${user}">
							<div th:case="null">
								<form th:action="@{/login}" method="get">
									<input type="hidden" name="referrer"
										value="site/pricing/points" /> <input type="image"
										src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/buy-logo-large.png"
										alt="PayPal. La forma rápida y segura de pagar en Internet." />
								</form>
							</div>
							<div th:case="*">
								<form action="https://www.sandbox.paypal.com/cgi-bin/webscr"
									method="post" target="_top" class="text-center">
									<input type="hidden" name="cmd" value="_s-xclick" /> <input
										type="hidden" name="hosted_button_id" value="WNB543K5GFJD6" />
									<input type="hidden" name="charset" value="utf-8" /> <input
										type="hidden" name="custom" th:value="__${user.userId}__" />
									<input type="image"
										src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/buy-logo-large.png"
										alt="PayPal. La forma rápida y segura de pagar en Internet." />
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h4 th:text="#{points.num.9}">POINTS</h4>
					</div>
					<div class="panel-body">

						<ul class="plan">
							<li class="price"><strong>2</strong> <i
								class="fa fa-euro"></i></li>
							<li><i class="fa fa-check"></i> <span th:text="#{points.desc1}"></span></li>
							<li><i class="fa fa-check"></i> <span th:text="#{points.desc2}"></span></li>
						</ul>
					</div>
					<div class="panel-footer">
						<div th:switch="${user}">
							<div th:case="null">
								<form th:action="@{/login}" method="get">
									<input type="hidden" name="referrer"
										value="site/pricing/points" /> <input type="image"
										src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/buy-logo-large.png"
										alt="PayPal. La forma rápida y segura de pagar en Internet." />
								</form>
							</div>
							<div th:case="*">
								<form action="https://www.sandbox.paypal.com/cgi-bin/webscr"
									method="post" target="_top" class="text-center">
									<input type="hidden" name="cmd" value="_s-xclick" /> <input
										type="hidden" name="hosted_button_id" value="WNB543K5GFJD6" />
									<input type="hidden" name="charset" value="utf-8" /> <input
										type="hidden" name="custom" th:value="__${user.userId}__" />
									<input type="image"
										src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/buy-logo-large.png"
										alt="PayPal. La forma rápida y segura de pagar en Internet." />
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h4 th:text="#{points.num.12}">POINTS</h4>
					</div>
					<div class="panel-body">

						<ul class="plan">
							<li class="price"><strong>3</strong> <i
								class="fa fa-euro"></i></li>
							<li><i class="fa fa-check"></i> <span th:text="#{points.desc1}"></span></li>
							<li><i class="fa fa-check"></i> <span th:text="#{points.desc2}"></span></li>
						</ul>
					</div>
					<div class="panel-footer">
						<div th:switch="${user}">
							<div th:case="null">
								<form th:action="@{/login}" method="get">
									<input type="hidden" name="referrer"
										value="site/pricing/points" /> <input type="image"
										src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/buy-logo-large.png"
										alt="PayPal. La forma rápida y segura de pagar en Internet." />
								</form>
							</div>
							<div th:case="*">
								<form action="https://www.sandbox.paypal.com/cgi-bin/webscr"
									method="post" target="_top" class="text-center">
									<input type="hidden" name="cmd" value="_s-xclick" /> <input
										type="hidden" name="hosted_button_id" value="WNB543K5GFJD6" />
									<input type="hidden" name="charset" value="utf-8" /> <input
										type="hidden" name="custom" th:value="__${user.userId}__" />
									<input type="image"
										src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/buy-logo-large.png"
										alt="PayPal. La forma rápida y segura de pagar en Internet." />
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h4 th:text="#{points.num.20}">POINTS</h4>
					</div>
					<div class="panel-body">
						<ul class="plan">
							<li class="price"><strong>4</strong> <i
								class="fa fa-euro"></i></li>
							<li><i class="fa fa-check"></i> <span th:text="#{points.desc1}"></span></li>
							<li><i class="fa fa-check"></i> <span th:text="#{points.desc2}"></span></li>
						</ul>
					</div>
					<div class="panel-footer">
						<div th:switch="${user}">
							<div th:case="null">
								<form th:action="@{/login}" method="get">
									<input type="hidden" name="referrer"
										value="site/pricing/points" /> <input type="image"
										src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/buy-logo-large.png"
										alt="PayPal. La forma rápida y segura de pagar en Internet." />
								</form>
							</div>
							<div th:case="*">
								<form action="https://www.sandbox.paypal.com/cgi-bin/webscr"
									method="post" target="_top" class="text-center">
									<input type="hidden" name="cmd" value="_s-xclick" /> <input
										type="hidden" name="hosted_button_id" value="WNB543K5GFJD6" />
									<input type="hidden" name="charset" value="utf-8" /> <input
										type="hidden" name="custom" th:value="__${user.userId}__" />
									<input type="image"
										src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/buy-logo-large.png"
										alt="PayPal. La forma rápida y segura de pagar en Internet." />
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<p>* Los puntos se añadirán instantáneamente a tu cuenta en el momento que se confirme el pago de Paypal.</p>
	</div>

</body>
</html>